<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"all-rides" - All Rides component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/google-map/google-map.html">
<link rel="import" href="../../../bower_components/google-map/google-map-directions.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html">

<link rel="import" href="redux-dashboard-mixin.html">

<link rel="import" href="../rydz-pagination/rydz-pagination.html">

<dom-module id="all-rides">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                padding: 0;
            }

            paper-toggle-button.paper-button {
                --paper-toggle-button-checked-bar-color: var(--app-primary-color);
                --paper-toggle-button-checked-button-color: var(--app-primary-color);
                --paper-toggle-button-checked-ink-color: var(--app-primary-color);
            }

            paper-icon-button {
                color: #999;
            }

            vaadin-grid {
                border-bottom: none;
            }

            .details-cell {
                /*@apply(--layout-vertical);*/
                /*@apply(--layout-around-justified);*/
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: #EEEEEE;
                box-shadow: 0 0 8px #ddd inset;
                cursor: auto;
            }

            .expand-menu {
            }

            .details-cell paper-card {
                width: 100%;
                padding: 15px;
                margin: 20px 0 5px;
            }

            .details-cell .map-view {
                /*border-bottom: 1px solid #ddd;*/
            }

            /*google-map {*/
            /*height: 350px;*/
            /*@apply(--shadow-elevation-2dp);*/
            /*border: 15px solid #fff;*/
            /*}*/

            /*.ride-detail-view {*/
            /*@apply(--layout-vertical);*/
            /*}*/

            /*.ride-detail-view .full-width-true {*/
            /*margin-right: 10px;*/
            /*}*/

            /*.ride-detail-view > div:last-of-type {*/
            /*margin-left: 10px;*/
            /*}*/

            .ride-detail-view paper-card {
                width: 100%;
                @apply(--layout-vertical);
            }

            .ride-detail-view paper-card .title {
                @apply(--layout-horizontal);
                @apply(--layout-center);
                margin-bottom: 15px;
            }

            .ride-detail-view paper-card .title h2 {
                font-weight: normal;
                margin: 0 0 0 10px;
                font-size: 1.3em;
                flex: 1;
            }

            .ride-detail-view paper-card .title iron-icon {
                color: #666;
            }

            .ride-detail-view paper-card dd {
                word-wrap: break-word;
            }

            .ride-detail-view paper-card dl {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
                border-top: 1px dashed #ddd;
                padding: 10px 0;
                margin: 0;
            }

            .rate {
                margin-right: 0;
            }

            .rate iron-icon {
                color: #999 !important;
            }

            .rating-1 iron-icon:nth-child(1) {
                color: #F9A825 !important;
            }

            .rating-2 iron-icon:nth-child(1), .rating-2 iron-icon:nth-child(2) {
                color: #F9A825 !important;
            }

            .rating-3 iron-icon:nth-child(1), .rating-3 iron-icon:nth-child(2), .rating-3 iron-icon:nth-child(3) {
                color: #F9A825 !important;
            }

            .rating-4 iron-icon:nth-child(1), .rating-4 iron-icon:nth-child(2), .rating-4 iron-icon:nth-child(3), .rating-4 iron-icon:nth-child(4) {
                color: #F9A825 !important;
            }

            .rating-5 iron-icon:nth-child(1), .rating-5 iron-icon:nth-child(2), .rating-5 iron-icon:nth-child(3), .rating-5 iron-icon:nth-child(4), .rating-5 iron-icon:nth-child(5) {
                color: #F9A825 !important;
            }

            .ride-detail-modal {
                width: 80%;
                max-width: 1280px;
                height: 80vh;
                @apply(--layout-horizontal);
                @apply(--layout-start);
            }

            .ride-detail-modal iron-icon {
                /*margin-right: 3px;*/
                color: #999;
            }

            .ride-detail-modal iron-icon:last-of-type {
                margin-right: 0;
            }

            .ride-detail-modal google-map {
                flex-grow: 1;
                margin: 0;
            }

            .ride-detail-modal .container_vertical {
                width: 35%;
                height: 100%;
                margin: 0;
                padding: 20px 30px 80px 20px;
                position: relative;
                box-sizing: border-box;
            }

            .ride-detail-modal .container_vertical .buttons paper-button {
                background-color: var(--primary-color);
                color: white;
                padding-left: 25px;
                padding-right: 25px;
            }

            .ride-detail-modal .container_vertical .buttons {
                position: absolute;
                bottom: 0;
                text-align: right;
                box-sizing: border-box;
                width: 100%;
                padding: 15px 25px 15px;
                right: 0;
                border-top: 1px solid #e7e7e7;
            }

            .ride-detail-modal .container_vertical app-toolbar h3 {
                color: var(--paper-green-700);
            }

            .ride-detail-modal .container_vertical app-toolbar {
                padding-right: 0;
            }

            .ride-detail-modal .container_vertical .list {
                width: 100%;
                height: 50%;
                padding: 0 0 12px;
                overflow: hidden;
                box-sizing: border-box;
            }

            .ride-detail-modal .container_vertical .list.both-false {
                height: 100%;
            }

            .ride-detail-modal .container_vertical ul {
                margin: 0;
                padding: 8px 16px;
                overflow: auto;
                height: calc(100% - 64px);
                list-style: none;
                box-sizing: border-box;
            }

            .ride-detail-modal .container_vertical ul li:not(:first-child) {
                margin: 12px 0;
            }

            .ride-detail-modal .container_vertical ul li {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
            }

            .ride-detail-modal .container_vertical ul li span {
                width: 50%;
            }

            .ride-detail-modal .container_vertical ul li span:last-of-type {
                text-align: right;
            }
        </style>
        <!-- on-active-item-changed="_activeItemChanged"-->
        <vaadin-grid items="[[allRidesGridData]]" id="allRidesGrid">
            <!--<template class="row-details">-->
            <!--<div class="details-cell">-->
            <!--<google-map fit-to-marker api-key="AIzaSyBz_UHtI9oWk1m7Nsk2DF0sDQ2hVsKBxNQ" gestureHandling="none"-->
            <!--class="ride-map" latitude="[[item.latitude]]" longitude="[[item.longitude]]"-->
            <!--zoom="14">-->
            <!--</google-map>-->
            <!--<div class="ride-detail-view">-->
            <!--<paper-card class$="full-width-{{rideCompleted}}">-->
            <!--<div class="title">-->
            <!--<iron-icon icon="info"></iron-icon>-->
            <!--<h2>Ride Details</h2>-->
            <!--<div class$="rate rating-[[item.rating]]">-->
            <!--<iron-icon icon="star"></iron-icon>-->
            <!--<iron-icon icon="star"></iron-icon>-->
            <!--<iron-icon icon="star"></iron-icon>-->
            <!--<iron-icon icon="star"></iron-icon>-->
            <!--<iron-icon icon="star"></iron-icon>-->
            <!--</div>-->
            <!--</div>-->
            <!--<dl>-->
            <!--<dt>Ride ID</dt>-->
            <!--<dd>[[item.ride_id]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Status</dt>-->
            <!--<dd>[[item.ride_state]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Booked By</dt>-->
            <!--<dd>[[item.booked_by]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Booked From</dt>-->
            <!--<dd>[[item.booked_from]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Booked Time</dt>-->
            <!--<dd>[[item.booked_from]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Booked Type</dt>-->
            <!--<dd>[[item.booked_from]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Driver Name</dt>-->
            <!--<dd>[[item.driver_name]]</dd>-->
            <!--</dl>-->
            <!--<dom-if if="{{!rideCompleted}}">-->
            <!--<template>-->
            <!--<dl>-->
            <!--<dt>Cancelled By</dt>-->
            <!--<dd>[[item.canceled_by]]</dd>-->
            <!--</dl>-->
            <!--</template>-->
            <!--</dom-if>-->
            <!--<dom-if if="{{rideCompleted}}">-->
            <!--<template>-->
            <!--<dl>-->
            <!--<dt>Start Time</dt>-->
            <!--<dd>[[item.booking_time]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>End Time</dt>-->
            <!--<dd>[[item.booking_time]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Start Time</dt>-->
            <!--<dd>[[item.ride_start_time]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>End Time</dt>-->
            <!--<dd>[[item.ride_end_time]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>No. of Stops</dt>-->
            <!--<dd>[[item.ride_end_time]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Distance (miles)</dt>-->
            <!--<dd>[[item.total_distance]]</dd>-->
            <!--</dl>-->
            <!--</template>-->
            <!--</dom-if>-->
            <!--<dl>-->
            <!--<dt>Customer Name</dt>-->
            <!--<dd>[[item.name]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Pickup Time</dt>-->
            <!--<dd>[[item.PT]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Pickup Location</dt>-->
            <!--<dd>[[item.pick_address]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Drop Location</dt>-->
            <!--<dd>[[item.dest_address]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Vehicle Type</dt>-->
            <!--<dd>[[item.vehicle_type]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>No. of Passengers</dt>-->
            <!--<dd>[[item.pass_count]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>No. of Bags</dt>-->
            <!--<dd>[[item.total_bags_count]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Payment Type</dt>-->
            <!--<dd>[[item.payment_type]]</dd>-->
            <!--</dl>-->
            <!--<dom-if if="{{rideCompleted}}">-->
            <!--<template>-->
            <!--<dl>-->
            <!--<dt>Rating</dt>-->
            <!--<dd>[[item.payment_type]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Feedback</dt>-->
            <!--<dd>[[item.feedback]]</dd>-->
            <!--</dl>-->
            <!--</template>-->
            <!--</dom-if>-->
            <!--</paper-card>-->
            <!--<dom-if if="{{rideCompleted}}">-->
            <!--<template>-->
            <!--<paper-card>-->
            <!--<div class="title">-->
            <!--<iron-icon icon="receipt"></iron-icon>-->
            <!--<h2>Fare Details</h2>-->
            <!--</div>-->
            <!--<dl>-->
            <!--<dt>Trip Fare</dt>-->
            <!--<dd>[[item.total_fare]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Waiting Charges</dt>-->
            <!--<dd>[[item.wait_fare]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Baggage Fare</dt>-->
            <!--<dd>[[item.baggages_fare]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Passenger Fare</dt>-->
            <!--<dd>[[item.passengers_fare]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Toll Charges</dt>-->
            <!--<dd>[[item.toll_fare]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Extra Stop Charges</dt>-->
            <!--<dd>[[item.extra_stop]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Airport Charges</dt>-->
            <!--<dd>[[item.airport_charges]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Parking Charges</dt>-->
            <!--<dd>[[item.parking_charges]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt>Other Charges</dt>-->
            <!--<dd>[[item.other_charges]]</dd>-->
            <!--</dl>-->
            <!--<dl>-->
            <!--<dt><b>Total Fare</b></dt>-->
            <!--<dd><b>[[item.total_fare]]</b></dd>-->
            <!--</dl>-->
            <!--</paper-card>-->
            <!--</template>-->
            <!--</dom-if>-->
            <!--</div>-->
            <!--</div>-->
            <!--</template>-->
            <vaadin-grid-column-group>
                <vaadin-grid-column width="75px" flex-grow="0">
                    <template class="header"></template>
                    <template>
                        <div class="cell expand-menu">
                            <paper-icon-button icon="more-vert"
                                               on-tap="_displayModal"></paper-icon-button>
                        </div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Ride ID</template>
                    <template>
                        <div class="cell">[[item.ride_id]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Customer</template>
                    <template>
                        <div class="cell">[[item.name]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Pickup Time</template>
                    <template>
                        <div class="cell">[[item.PT]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Pickup Address</template>
                    <template>
                        <div class="cell">[[item.pick_address]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Drop Address</template>
                    <template>
                        <div class="cell">[[item.dest_address]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Vehicle Type</template>
                    <template>
                        <div class="cell">[[item.vehicle_type]]</div>
                    </template>
                </vaadin-grid-column>

                <vaadin-grid-column>
                    <template class="header">Status</template>
                    <template>
                        <div class="cell">[[item.ride_state]]</div>
                    </template>
                </vaadin-grid-column>
            </vaadin-grid-column-group>

        </vaadin-grid>
        <rydz-pagination action-name="[[actionName]]"
                         total-count="{{ridesCount}}"></rydz-pagination>
        <paper-dialog class="ride-detail-modal" id="rideDetail"
                      with-backdrop="true"
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">
            <google-map-directions api-key="AIzaSyBz_UHtI9oWk1m7Nsk2DF0sDQ2hVsKBxNQ" map="{{map}}"></google-map-directions>
            <google-map fit-to-marker api-key="AIzaSyBz_UHtI9oWk1m7Nsk2DF0sDQ2hVsKBxNQ"
                        class="ride-map" id="rideMap" disable-default-ui="" map="{{map}}">
            </google-map>
            <div class="container_vertical">
                <div class$="list both-{{rideCompleted}}">
                    <app-toolbar>
                        <div main-title>Ride Details</div>
                        <div class$="rate rating-[[rideItem.rating]]">
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                            <iron-icon icon="star"></iron-icon>
                        </div>
                    </app-toolbar>
                    <ul>
                        <li>
                            <span>Ride ID</span>
                            <span>[[rideItem.ride_id]]</span></li>
                        <li>
                            <span>Status</span>
                            <span>[[rideItem.ride_state]]</span></li>
                        <li>
                            <span>Booked By</span>
                            <span>[[rideItem.booked_by]]</span></li>
                        <li>
                            <span>Booked From</span>
                            <span>[[rideItem.booked_from]]</span></li>
                        <li>
                            <span>Booked Time</span>
                            <span>[[rideItem.booking_time]]</span></li>
                        <li>
                            <span>Booked Type</span>
                            <span>[[rideItem.booking_type]]</span></li>
                        <li>
                            <span>Driver Name</span>
                            <span>[[rideItem.driver_name]]</span></li>
                        <dom-if if="{{!rideCompleted}}">
                            <template>
                                <li>
                                    <span>Cancelled By</span>
                                    <span>[[rideItem.canceled_by]]</span></li>
                            </template>
                        </dom-if>
                        <dom-if if="{{rideCompleted}}">
                            <template>
                                <li>
                                    <span>Start Time</span>
                                    <span>[[rideItem.booking_time]]</span></li>
                                <li>
                                    <span>End Time</span>
                                    <span>[[rideItem.booking_time]]</span></li>
                                <li>
                                    <span>Start Time</span>
                                    <span>[[rideItem.ride_start_time]]</span></li>
                                <li>
                                    <span>End Time</span>
                                    <span>[[rideItem.ride_end_time]]</span></li>
                                <li>
                                    <span>No. of Stops</span>
                                    <span>[[rideItem.ride_end_time]]</span></li>
                                <li>
                                    <span>Distance (miles)</span>
                                    <span>[[rideItem.total_distance]]</span></li>
                            </template>
                        </dom-if>
                        <li>
                            <span>Customer Name</span>
                            <span>[[rideItem.name]]</span></li>
                        <li>
                            <span>Pickup Time</span>
                            <span>[[rideItem.PT]]</span></li>
                        <li>
                            <span>Pickup Location</span>
                            <span>[[rideItem.pick_address]]</span></li>
                        <li>
                            <span>Drop Location</span>
                            <span>[[rideItem.dest_address]]</span></li>
                        <li>
                            <span>Vehicle Type</span>
                            <span>[[rideItem.vehicle_type]]</span></li>
                        <li>
                            <span>No. of Passengers</span>
                            <span>[[rideItem.pass_count]]</span></li>
                        <li>
                            <span>No. of Bags</span>
                            <span>[[rideItem.total_bags_count]]</span></li>
                        <li>
                            <span>Payment Type</span>
                            <span>[[rideItem.payment_type]]</span></li>
                        <dom-if if="{{rideCompleted}}">
                            <template>
                                <li>
                                    <span>Feedback</span>
                                    <span>[[rideItem.feedback]]</span></li>
                            </template>
                        </dom-if>
                    </ul>
                </div>
                <div class="list">
                    <dom-if if="{{rideCompleted}}">
                        <template>
                            <app-toolbar>
                                <div main-title>Fare Details</div>
                                <h3>&dollar;[[rideItem.total_fare]]</h3>
                            </app-toolbar>
                            <ul>
                                <li>
                                    <span>Trip Fare</span>
                                    <span>[[rideItem.total_fare]]</span>
                                </li>
                                <li>
                                    <span>Waiting Charges</span>
                                    <span>[[rideItem.wait_fare]]</span>
                                </li>
                                <li>
                                    <span>Baggage Fare</span>
                                    <span>[[rideItem.baggages_fare]]</span>
                                </li>
                                <li>
                                    <span>Passenger Fare</span>
                                    <span>[[rideItem.passengers_fare]]</span>
                                </li>
                                <li>
                                    <span>Toll Charges</span>
                                    <span>[[rideItem.toll_fare]]</span>
                                </li>
                                <li>
                                    <span>Extra Stop Charges</span>
                                    <span>[[rideItem.extra_stop]]</span>
                                </li>
                                <li>
                                    <span>Airport Charges</span>
                                    <span>[[rideItem.airport_charges]]</span>
                                </li>
                                <li>
                                    <span>Parking Charges</span>
                                    <span>[[rideItem.parking_charges]]</span>
                                </li>
                                <li>
                                    <span>Other Charges</span>
                                    <span>[[rideItem.other_charges]]</span>
                                </li>
                                <li>
                                    <span><b>Total Fare</b></span>
                                    <span><b>[[rideItem.total_fare]]</b></span>
                                </li>
                            </ul>
                        </template>
                    </dom-if>
                </div>
                <div class="buttons">
                    <paper-button raised dialog-dismiss>Done</paper-button>
                </div>
            </div>
        </paper-dialog>
    </template>
    <script>
        class AllRides extends ReduxDashboardMixin(Polymer.Element) {
            static get is() {
                return "all-rides";
            }

            static get properties() {
                return {
                    rides: {
                        type: Object,
                        statePath: 'dashboardReducer.allRides',
                        observer: '_refreshAllDataGrid',
                    },
                    ridesCount: {
                        type: Number,
                        statePath: 'dashboardReducer.allTotal'
                    },
                    current: {
                        type: Number,
                        statePath: 'dashboardReducer.allCurrent'
                    },
                    rowCount: {
                        type: Number,
                        statePath: 'dashboardReducer.allRowCount'
                    },
                    actionName: {
                        type: String,
                        value: 'getAllRidesData'
                    },
                    rideCompleted: {
                        type: Boolean,
                        value: false
                    },
                    isLoggedIn: {
                        type: Boolean,
                        statePath: 'rootReducer.isLoggedIn',
                        observer: '_fetchRides'
                    },
                    rideItem: {
                        type: Object
                    }
                }
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
            }

            _fetchRides(e) {
                if (e) {
                    this.dispatch(this.actionName, {
                        current: this.current,
                        rowCount: this.rowCount
                    });
                }
            }

            _refreshAllDataGrid() {
                let grid = this.$.allRidesGrid;
                this.allRidesGridData = Object.values(this.rides);
                grid.items = this.allRidesGridData;
                grid.clearCache();
            }

            _expandIcon(expanded) {
                return expanded ? "arrow-drop-up" : "arrow-drop-down";
            }

            _plotMap() {
                /* Initial values */
                let mapElement = Polymer.dom(this.root).querySelector('google-map');
                let mapDirectionsElement = Polymer.dom(this.root).querySelector('google-map-directions');
                let mapCenterPosition = new google.maps.LatLng(this.rideItem.latitude, this.rideItem.longitude);
                let pickupDistance = localStorage.getItem('drivertopickupdistance');
                let onlineDriverRadius = pickupDistance * 1609.34;

                /* Setting the Map */
                mapElement.latitude = this.rideItem.latitude;
                mapElement.longitude = this.rideItem.longitude;
                mapElement.mapType = "roadmap";
                mapElement.zoom = 18;
                mapElement.center = mapCenterPosition;

                /* Adding the directions from start address til end address */
                mapDirectionsElement.startAddress = '' + this.rideItem.latitude + ',' + this.rideItem.longitude;
                mapDirectionsElement.endAddress = '' + this.rideItem.d_latitude + ',' + this.rideItem.d_longitude;
                mapDirectionsElement.travelMode = "DRIVING";

                /* Creating a perimeter for displaying the drivers */
                if (this.rideItem.ride_state !== 'Completed' && this.rideItem.ride_state !== 'Canceled' && this.rideItem.ride_state !== 'Ignored') {
                    this.cityCircle = new google.maps.Circle({
                        strokeColor: '#00AAFF',
                        strokeOpacity: 0.8,
                        strokeWeight: 2,
                        fillColor: '#00AAFF',
                        fillOpacity: 0.15,
                        map: this.map,
                        center: mapCenterPosition,
                        radius: onlineDriverRadius
                    });
                } else {
                    if (this.cityCircle) {
                        this.cityCircle.setMap(null);
                    }
                }
            }

            _displayModal(e) {
                let modal = this.$.rideDetail;
                this.rideItem = e.model.item;
                this.rideCompleted = this.rideItem.ride_state === "Completed";
                modal.opened = true;

                /* Adding the markers and plotting the route map */
                this._plotMap();
            }
        }

        window.customElements.define(AllRides.is, AllRides);
    </script>
</dom-module>