<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"book-ride" - Book a ride Dialog component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-container.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input-error.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../../bower_components/paper-item/paper-icon-item.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item-body.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/vaadin-date-picker/vaadin-date-picker.html">
<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box-light.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">

<link rel="import" href="../../shared-styles.html">

<dom-module id="book-ride">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 0;
            }

            paper-dialog {
                width: 100%;
                height: 100%;
                max-width: 900px;
                max-height: 900px;
                overflow: hidden;
                /*margin-top: 50px;*/
                /*margin-bottom: 50px;*/
            }

            app-toolbar {
                margin: 0;
                background-color: var(--app-primary-color);
                color: #fff;
                font-size: 24px;
                @apply(--shadow-elevation-2dp);
                z-index: 2;
            }

            app-toolbar div[main-title] {
                font-weight: 300;
                margin-left: 15px;
            }

            .scrollable {
                width: 40%;
                min-width: 360px;
                float: left;
                margin-top: 0;
                padding-bottom: 25px;
                max-height: calc(100% - 128px);
                box-sizing: border-box;
                position: relative;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .map-container {
                float: right;
                width: 60%;
                height: calc(100% - 128px);
                padding: 0;
                margin-top: 0;
                box-sizing: border-box;
                position: relative;
            }

            .map-container:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                box-shadow: 3px -5px 13px rgba(0, 0, 0, 0.13);
                width: 1px;
                height: 100%;
            }

            .required {
                color: var(--paper-red-500);
            }

            iron-input input:focus, iron-input input:active {
                border: none;
                outline: none;
            }

            iron-input input {
                background-color: transparent;
                border: none;
                width: 100%;
            }

            .scrollable iron-icon {
                color: #bdbdbd;
                margin-bottom: 3px;
            }

            .buttons {
                clear: both;
                padding: 0 0 0 15px;
                height: 64px;
                border-top: 1px solid #e3e3e3;
                background-color: #fff;
                @apply(--paper-font-button);
            }

            .main-button {
                padding: 0 25px;
                margin: 0;
                background-color: var(--primary-color);
                color: #fff;
                border-radius: 0;
                height: 100%;
                min-width: 180px;
            }

            .main-button[disabled] {
                background: #eaeaea;
                color: #a8a8a8;
                cursor: auto;
                pointer-events: none;
            }

            .main-button span {
                flex: 1;
                text-align: center;
            }

            .select-visual paper-icon-button {
                border: 1px solid transparent;
                width: 48px;
                height: 46px;
                padding: 6px;
                margin-right: 6px;
                color: #9e9e9e;
            }

            .select-visual paper-icon-button:before {
                position: absolute;
                content: attr(id);
                text-transform: uppercase;
                bottom: -12px;
                font-size: 0.7em;
                text-align: center;
                width: 100%;
                left: 0;
                color: #9e9e9e;
            }

            .select-visual .iron-selected:before {
                color: var(--primary-color);
            }

            .select-visual .iron-selected {
                color: var(--primary-color);
                border-radius: 3px;
            }

            .select-visual, .select-buttons {
                margin-top: 30px;
                margin-bottom: 30px;
            }

            .select-visual {
                padding-bottom: 15px;
            }

            .select-buttons paper-button {
                margin: 0;
                padding-left: 20px;
                padding-right: 20px;
            }

            paper-radio-group paper-radio-button:first-child {
                padding-left: 0;
            }

            .select-visual .iron-selected iron-icon {
                cursor: pointer;
            }

            .select-input {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
                margin-top: 22px;
                margin-bottom: 22px;
            }

            .select-input paper-input {
                width: 45%;
            }

            .select-input h3 {
                margin-bottom: 5px;
            }

            .select-visual h3, .select-input h3 {
                @apply(--paper-font-title);
                font-weight: 300;
                margin-bottom: 8px;
            }

            .ride-later-date vaadin-combo-box, .ride-later-date vaadin-date-picker {
                width: 47%;
                padding: 0;
            }

            .ride-later-date {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
                @apply(--layout-end);
                margin: 15px -25px 0;
                width: calc(100% + 49px);
                padding: 5px 25px 18px;
                box-sizing: border-box;
                background-color: #fafafa;
            }

            .ride-later-date.hidden {
                display: none;
            }

            .drivers-chip paper-item {
                display: inline-block;
                background-color: #eee;
                color: #757575;
                border-radius: 20px;
                font-size: 14px;
                margin-top: 5px;
                margin-right: 6px;
                padding: 0 12px;
            }

            .drivers-chip paper-item:focus {
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
            }

            .drivers-chip paper-item:focus:before {
                content: none;
            }

            .drivers-chip paper-item paper-icon-button {
                margin-right: -11px;
                margin-left: 6px;
            }

            /*.select-visual h3 span{*/
            /*@apply(--paper-font-body2);*/
            /*}*/
        </style>

        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>

        <paper-dialog id="bookDialog" modal opened="{{_showDialog(route.path)}}">
            <app-toolbar>
                <paper-icon-button icon="close" dialog-dismiss></paper-icon-button>
                <div main-title>Book a ride</div>
            </app-toolbar>
            <div class="scrollable">
                <vaadin-combo-box id="phoneNumber" items="[8603654428,9618343871,9989959051]" label="Phone Number *"
                                  required="" pattern="[0-9]{10}" auto-validate></vaadin-combo-box>
                <paper-input label="Pickup Location">
                    <iron-icon slot="suffix" icon="location-searching"></iron-icon>
                </paper-input>
                <paper-input label="Drop Location">
                    <iron-icon slot="suffix" icon="pin-drop"></iron-icon>
                </paper-input>
                <div class="select-visual">
                    <h3>Vehicle Type</h3>
                    <iron-selector selected="0">
                        <paper-icon-button icon="car" id="car"></paper-icon-button>
                        <paper-icon-button icon="suv" id="suv"></paper-icon-button>
                        <paper-icon-button icon="van" id="van"></paper-icon-button>
                    </iron-selector>
                </div>
                <div class="select-visual">
                    <h3>Payment</h3>
                    <iron-selector selected="0">
                        <paper-icon-button icon="card" id="card"></paper-icon-button>
                        <paper-icon-button icon="cash" id="cash"></paper-icon-button>
                        <!--Tooltips-->
                        <paper-tooltip for="card">Card</paper-tooltip>
                        <paper-tooltip for="cash">Cash</paper-tooltip>
                    </iron-selector>
                </div>
                <div class="select-input">
                    <paper-input type="number" label="Passengers" min="1" max="4"
                                 value="1"></paper-input>
                    <paper-input type="number" label="Baggages" min="0" max="4" value="0"></paper-input>
                </div>
                <div class="select-buttons">
                    <paper-radio-group selected="rideNow">
                        <paper-radio-button name="rideNow" checked on-tap="_hideDate">Ride Now</paper-radio-button>
                        <paper-radio-button name="rideLater" on-tap="_showDate">Ride Later</paper-radio-button>
                    </paper-radio-group>
                    <div id="rideDate" class="ride-later-date hidden">
                        <vaadin-date-picker label="Date" id="rideDatePicker"></vaadin-date-picker>
                        <vaadin-combo-box label="Time" id="rideTime"
                                          items='["4:00 PM", "4:10 PM", "4:20 PM", "4:30 PM"]'
                                          disabled=""></vaadin-combo-box>
                    </div>
                </div>
                <paper-checkbox checked="{{showDrivers}}" on-tap="_displayDrivers">Assign drivers by name
                </paper-checkbox>
                <dom-if if="{{showDrivers}}">
                    <template>
                        <vaadin-combo-box on-value-changed="_updateDriversList" id="driversList" label="Search Drivers"
                                          items='[{"name":"Hansa Panis","imgUrl":"https://randomuser.me/api/portraits/thumb/men/12.jpg","email":"hamsa.panis@example.com"},{"name":"Robert Janew","imgUrl":"https://randomuser.me/api/portraits/thumb/men/15.jpg","email":"robert.janew@example.com"}]'
                                          item-value-path="name" item-label-path="name">
                            <template>
                                <paper-icon-item style="padding: 0">
                                    <img src="[[item.imgUrl]]" style="border-radius: 50%; width: 48px; height: 48px;"
                                         slot="item-icon">
                                    <paper-item-body two-line style="min-height: 0">
                                        <div style="text-transform: capitalize">[[item.name]]</div>
                                        <div secondary>[[item.email]]</div>
                                    </paper-item-body>
                                </paper-icon-item>
                            </template>
                        </vaadin-combo-box>
                        <div class="drivers-chip" id="driversChip"></div>
                    </template>
                </dom-if>
            </div>
            <div class="map-container">
                <google-map-directions api-key="AIzaSyBz_UHtI9oWk1m7Nsk2DF0sDQ2hVsKBxNQ" map="{{map}}"
                                       start-address="Vasco Da Gama" end-address="Bogmalo"></google-map-directions>
                <google-map fit-to-marker api-key="AIzaSyBz_UHtI9oWk1m7Nsk2DF0sDQ2hVsKBxNQ"
                            class="ride-map" id="rideMap" disable-default-ui="" map="{{map}}">
                </google-map>
            </div>
            <div class="buttons">
                <paper-button dialog-confirm autofocus class="main-button">
                    <span>Book Ride</span>
                    <iron-icon icon="arrow-forward"></iron-icon>
                </paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        class BookRide extends Polymer.Element {
            static get is() {
                return "book-ride";
            }

            static get properties() {
                return {
                    path: String,
                    showDrivers: Boolean,
                    drivers: {
                        type: Array,
                        value: []
                    }
                }
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                this.page = 'book-ride';
                let that = this;
                this.$.bookDialog.addEventListener('iron-overlay-closed', function () {
                    that.set('route.path', that.path);
                });
                this.$.rideDatePicker.addEventListener('value-changed', function () {
                    that.$.rideTime.disabled = this.value === '';
                });
            }

            _showDialog(path) {
                if (path.indexOf('/book-ride') !== -1) {
                    return true;
                }
            }

            _showDate() {
                let selectDateOption = this.$.rideDate;
                selectDateOption.classList.remove('hidden');
            }

            _hideDate() {
                let selectDateOption = this.$.rideDate;
                selectDateOption.classList.add('hidden');
                this.$.rideDatePicker.value = '';
                this.$.rideTime.value = '';
            }

            _displayDrivers() {
                if (this.showDrivers) {
//                    this.$.driversList.items = [{
//                        "name": "Hansa Panis",
//                        "imgUrl": "https://randomuser.me/api/portraits/thumb/men/12.jpg",
//                        "email": "hamsa.panis@example.com"
//                    }, {
//                        "name": "Robert Janew",
//                        "imgUrl": "https://randomuser.me/api/portraits/thumb/men/15.jpg",
//                        "email": "robert.janew@example.com"
//                    }];
                }
            }

            _updateDriversList(event) {
                let value = event.detail.value;
                if (!this.drivers.includes(value) && value) {
                    this.drivers.push(value);
                    let chipElem = document.createElement('paper-item');
                    let closeElem = document.createElement('paper-icon-button');
                    closeElem.setAttribute('icon', 'close');
                    closeElem.setAttribute('onClick', '_removeDriver');
//                    closeElem.onTap = this._removeDriver(value);
                    chipElem.innerHTML = value;
                    chipElem.appendChild(closeElem);
                    Polymer.dom(this.root).querySelector('#driversChip').appendChild(chipElem);
                }
                event.target.value = '';
            }

            _removeDriver(driver) {
                console.log('driver');
            }

            open() {
                this.path = this.route.path;
                this.set('route.path', this.path + '/book-ride');
            }
        }

        window.customElements.define(BookRide.is, BookRide);
    </script>
</dom-module>