<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"critical-rides" - Critical Rides component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="redux-dashboard-mixin.html">

<link rel="import" href="../rydz-pagination/rydz-pagination.html">

<dom-module id="critical-rides">
    <template>
        <style include="shared-styles">
            :host {
                display: flex;
                padding: 0;
            }

            paper-toggle-button.paper-button {
                --paper-toggle-button-checked-bar-color: var(--app-primary-color);
                --paper-toggle-button-checked-button-color: var(--app-primary-color);
                --paper-toggle-button-checked-ink-color: var(--app-primary-color);
            }

            paper-icon-button {
                color: #999;
            }

            vaadin-grid {
                border-bottom: none;
            }
        </style>
        <vaadin-grid items="[[criticalRidesGridData]]" id="criticalRidesGrid">

            <vaadin-grid-column>
                <template class="header">Ride ID</template>
                <template>
                    <div class="cell">[[item.ride_id]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Customer</template>
                <template>
                    <div class="cell">[[item.name]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Pickup Time</template>
                <template>
                    <div class="cell">[[item.PT]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Pickup Address</template>
                <template>
                    <div class="cell">[[item.pick_address]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Drop Address</template>
                <template>
                    <div class="cell">[[item.dest_address]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Vehicle Type</template>
                <template>
                    <div class="cell">[[item.vehicle_type]]</div>
                </template>
            </vaadin-grid-column>

            <vaadin-grid-column>
                <template class="header">Status</template>
                <template>
                    <div class="cell">[[item.ride_state]]</div>
                </template>
            </vaadin-grid-column>

        </vaadin-grid>
        <rydz-pagination action-name="[[actionName]]"
                         total-count="{{ridesCount}}"></rydz-pagination>
    </template>
    <script>
        class CriticalRides extends ReduxDashboardMixin(Polymer.Element) {
            static get is() {
                return "critical-rides";
            }

            static get properties() {
                return {
                    rides: {
                        type: Object,
                        statePath: 'dashboardReducer.criticalRides',
                        observer: '_refreshCriticalDataGrid',
                    },
                    ridesCount: {
                        type: Number,
                        statePath: 'dashboardReducer.criticalTotal'
                    },
                    current: {
                        type: Number,
                        statePath: 'dashboardReducer.criticalCurrent'
                    },
                    rowCount: {
                        type: Number,
                        statePath: 'dashboardReducer.criticalRowCount'
                    },
                    actionName: {
                        type: String,
                        value: 'getCriticalRidesData'
                    }
                }
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
            }

            _fetchRides(e) {
                if (e) {
                    this.dispatch(this.actionName, {
                        current: this.current,
                        rowCount: this.rowCount
                    });
                }
            }

            _refreshCriticalDataGrid() {
                let grid = this.$.criticalRidesGrid;
                this.criticalRidesGridData = Object.values(this.rides);
                grid.items = this.criticalRidesGridData;
                grid.clearCache();
            }
        }

        window.customElements.define(CriticalRides.is, CriticalRides);
    </script>
</dom-module>