<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"rydz-dashboard" - Dashboard component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid-column-group.html">
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<!--Dashboard Components-->
<link rel="import" href="all-rides.html">
<link rel="import" href="scheduled-rides.html">
<link rel="import" href="critical-rides.html">
<link rel="import" href="book-ride.html">

<link rel="import" href="redux-dashboard-mixin.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="rydz-dashboard">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 0;
            }

            .page-wrap {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                overflow-x: hidden;
                overflow-y: auto;
            }

            .inner-content {
                display: flex;
                flex-direction: row;
                height: 100%;
            }

            .flexchild {
                @apply(--layout-vertical);
                @apply(--layout-flex);
            }

            app-toolbar {
                background-color: var(--paper-light-blue-a700);
                color: #fff;
                box-shadow: 0 5px 6px -3px rgba(0, 0, 0, 0.4);
                z-index: 99;
                height: calc(54px * 2);
                padding-top: 20px;
                align-items: flex-start;
                @apply(--layout-relative);
            }

            paper-tabs {
                width: 650px !important;
                --paper-tabs-selection-bar-color: #22313F;
                --paper-tabs-selection-bar: {
                    height: 3px;
                }
            }

            .title {
                margin-left: 14px !important;
                transition: all 0.5s ease;
            }

            .tab-pages {
                width: 100%;
                height: 100%;
            }

            .aside_toggle {
                display: none;
            }

            .right_sidebar {
                display: block;
                padding: 0;
                width: 350px;
                height: 100%;
                z-index: 100;
                box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
                overflow-x: hidden;
                overflow-y: auto;
            }

            .drawer-contents {
                height: 100%;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .drawer-wrapper {
                display: none;
                box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.4);
                --app-drawer-width: 350px;
            }

            paper-fab:not([pressed]) {
                @apply(--paper-material-elevation-2);
            }

            @media (max-width: 1024px) {
                .right_sidebar {
                    display: none;
                }

                .aside_toggle {
                    display: block;
                }

                .drawer-wrapper {
                    display: block;
                    color: #242424;
                    z-index: 102;
                }
            }
        </style>

        <div class="page-wrap">
            <div class="inner-content">
                <app-location route="{{route}}" use-hash-as-path></app-location>
                <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
                <app-route route="{{subroute}}" pattern="/:tab" data="{{tabData}}"></app-route>
                <div class="flexchild">
                    <app-toolbar>
                        <span main-title class="title">[[_addTitle(tab)]]</span>
                        <paper-icon-button icon="zoom-in" on-tap="_toggleDrawer"
                                           class="aside_toggle"></paper-icon-button>
                        <paper-tabs selected="{{tab}}" attr-for-selected="name" class="bottom fit"
                                    on-iron-select="_onTabSelect" bottom-item>
                            <paper-tab name="all-rides" flex>All Rides</paper-tab>
                            <paper-tab name="scheduled-rides" flex>Scheduled Rides</paper-tab>
                            <paper-tab name="critical-rides" flex>Critical Rides</paper-tab>
                        </paper-tabs>
                    </app-toolbar>

                    <div>
                        <paper-fab icon="add" class="bottom new-modal-button" on-tap="_openDialog" id="fab-element">
                        </paper-fab>
                        <paper-tooltip for="fab-element" animation-delay="100">Quick Book</paper-tooltip>
                    </div>
                    <neon-animated-pages class="tab-pages"
                                         selected="[[tab]]"
                                         attr-for-selected="name"
                                         entry-animation="slide-from-left-animation"
                                         exit-animation="fade-out-animation">
                        <all-rides name="all-rides"></all-rides>
                        <scheduled-rides name="scheduled-rides"></scheduled-rides>
                        <critical-rides name="critical-rides"></critical-rides>
                    </neon-animated-pages>
                </div>
            </div>
        </div>
        <book-ride id="bookRide"></book-ride>
    </template>
    <script>
        class RydzDashboard extends Polymer.Element {
            static get is() {
                return "rydz-dashboard";
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routePageChanged'
                    },
                    tab: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routeTabChanged'
                    },
                    route: Object,
                    routeData: Object
                }
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                    '_routeTabChanged(tabData.tab)'
                ]
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
            }


            _routePageChanged(page) {
                this.page = page || 'dashboard';
            }

            _routeTabChanged(tab) {
                this.tab = tab || 'all-rides';
            }

            _onTabSelect(e) {
                let currTab = e.detail.item;
                let tabName = currTab.getAttribute("name");
                this.tab = tabName;
                this.set('route.path', '/dashboard/' + tabName);
            }

            _addTitle(name) {
                let words = name.split('-');

                for (let i = 0; i < words.length; i++) {
                    let word = words[i];
                    words[i] = word.charAt(0).toUpperCase() + word.slice(1);
                }

                return words.join(' ');
            }

            _openDialog() {
                this.$.bookRide.open();
            }
        }

        window.customElements.define(RydzDashboard.is, RydzDashboard);
    </script>
</dom-module>