<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description" - RydzPagination component for all the grids.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/vaadin-combo-box/vaadin-combo-box.html">

<link rel="import" href="../rydz-dashboard/redux-dashboard-mixin.html">

<dom-module id="rydz-pagination">
    <template>
        <style include="shared-styles">

            :host {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 64px;
                @apply(--shadow-elevation-8dp);
                background-color: #ffffff;
            }

            .container {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
                @apply(--layout-center);
                padding: 0 15px;
                height: 100%;
            }

            .text-content {
                @apply(--layout-horizontal);
                @apply(--layout-center);
            }

            vaadin-combo-box {
                padding: 0;
            }

            .text {
                @apply(--paper-font-body1);
                padding: 0 15px 0 10px;
                margin-right: 3px;
                border-right: 1px solid #ddd;
            }

            ::content .clear-button {
                display: none;
            }

        </style>

        <div class="container">
            <div class="text-content">
                <vaadin-combo-box id="rowList" label="Rows per page" value="25" items="[25, 50, 75, 100]"
                                  preventInvalidInput="true">
                    <div class="clear-button" style="display:none;"></div>
                </vaadin-combo-box>
            </div>
            <div class="buttons">
                <span class="text">Displaying [[totalCount]] users</span>
                <span class="text">Page [[currPage]] of [[pages]]</span>
                <paper-icon-button id="firstPage"
                                   icon="skip-previous"
                                   on-tap="_moveFirst"
                                   disabled="[[!enableBackward]]"></paper-icon-button>
                <paper-icon-button id="previousPage"
                                   icon="keyboard-arrow-left"
                                   on-tap="_moveBackward"
                                   disabled="[[!enableBackward]]"></paper-icon-button>
                <paper-icon-button id="nextPage"
                                   icon="keyboard-arrow-right"
                                   on-tap="_moveForward"
                                   disabled="[[disableForward]]"></paper-icon-button>
                <paper-icon-button id="lastPage"
                                   icon="skip-next"
                                   on-tap="_moveLast"
                                   disabled="[[disableForward]]"></paper-icon-button>
            </div>
        </div>
    </template>
    <script>
        class RydzPagination extends ReduxDashboardMixin(Polymer.Element) {
            static get is() {
                return "rydz-pagination"
            }

            static get properties() {
                return {
                    totalCount: {
                        type: Number,
                        reflectToAttribute: true,
                        observer: '_updatePages'
                    },
                    pages: {
                        type: Number,
                        reflectToAttribute: true
                    },
                    currPage: {
                        type: Number,
                        value: 1
                    },
//                    filter: {
//                        type: Object,
//                        statePath: 'settingsReducer.filter'
//                    },
                    perPage: {
                        type: Number,
                        value: 25
                    },
                    disableForward: {
                        type: Boolean,
                    },
                    enableBackward: {
                        type: Boolean,
                        value: false
                    },
                    actionName: {
                        type: String,
                        reflectToAttribute: true
                    },
//                    order: {
//                        type: String,
//                        statePath: 'settingsReducer.order'
//                    }
                }
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();

                let self = this;
                let combobox = this.$.rowList;
                let grid = Polymer.dom(this).parentNode.querySelector('vaadin-grid');
                grid !== null ? grid.setAttribute('style', 'height: calc(100% - 60px)') : '';
                combobox.addEventListener('value-changed', function () {
                    this.perPage = combobox.value || 25;
                    self._perPageChanged(this.perPage);
                });

            }

            _updatePages() {
                this.pages = Math.ceil(this.totalCount / this.perPage);
                this._refreshButtons();
            }

            _refreshButtons() {
                this.disableForward = (this.pages === this.currPage || this.totalCount < this.perPage);
                this.enableBackward = (this.currPage > 1);
                this.$.rowList.disabled = this.totalCount < 25;
            }

            _dispatchAction() {
                this.dispatch(this.actionName, {
                    current: this.currPage,
                    rowCount: this.perPage,
//                    "filter": this.filter,
//                    "order": this.order
                });
            }

            _perPageChanged(ev) {
                this.perPage = ev;
                this.currPage = 1;
                this._dispatchAction();
                this._updatePages();
            }

            _moveForward() {
                this.currPage++;
                this._dispatchAction();
                this._refreshButtons();
            }

            _moveBackward() {
                this.currPage--;
                this._dispatchAction();
                this._refreshButtons();
            }

            _moveFirst() {
                this.currPage = 1;
                this._dispatchAction();
                this._refreshButtons();
            }

            _moveLast() {
                this.currPage = this.pages;
                this._dispatchAction();
                this._refreshButtons();
            }
        }

        window.customElements.define(RydzPagination.is, RydzPagination);
    </script>
</dom-module>