<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"rydz-menu" - Main Menu component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">

<dom-module id="rydz-menu">
    <template>
        <style>
            :host {
                display: block;
                padding: 0;
            }

            paper-listbox {
                --paper-listbox-background-color: var(--app-primary-color);
                --paper-listbox-focused-item: {
                    opacity: 1;
                };
                --paper-listbox-focused-item-after: {
                    opacity: 0;
                };
                --paper-listbox: {
                    padding: 0;
                    min-height: 55px;
                    line-height: 55px;
                };
                --paper-listbox-selected-item: {
                    background-color: var(--primary-color);
                }
            }

            paper-item {
                --paper-item: {
                    display: block;
                    padding: 0;
                    min-height: 55px;
                    line-height: 55px;
                    width: 100%;
                    cursor: pointer;
                };
                --paper-item-focused-before: {
                    opacity: 0;
                }
            }

            paper-item.iron-selected {
                background-color: var(--primary-color);
            }

            .menu-trigger {
                display: block;
                padding: 0;
                font-size: 14px;
                font-weight: 400;
                color: #f5f5f5;
                line-height: 55px;
                /*border-bottom: 1px solid #00447e;*/
                transition: all 0.5s ease;
                cursor: pointer;
            }

            .trigger-head {
                margin: 0 16px;
                display: flex;
                align-items: center;
            }

            .drawer-list {
                margin: 0;
                padding: 0;
            }

            .drawer-list a {
                display: block;
                outline: none;
                padding: 0 2px;
                text-decoration: none;
                font-size: 14px;
                font-weight: 400;
                color: #f5f5f5;
                line-height: 55px;
                border-bottom: 1px solid #00447e;
                transition: all 0.5s ease;
            }

            .drawer-list a:hover {
                background: #0091ea;
            }

            .menu-item-ui-icon {
                width: 16px;
                height: 16px;
                margin-right: 10px;
            }
        </style>

        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
        <app-route route="{{subroute}}" pattern="/:tab" data="{{tabData}}"></app-route>
        <paper-listbox class="drawer-list" selected="[[page]]" attr-for-selected="name">
            <paper-item name="dashboard" class="menu-trigger">
                <paper-ripple></paper-ripple>
                <a href="#/dashboard">
                    <div class="trigger-head">
                        <iron-icon icon="dashboard" class="menu-item-ui-icon"></iron-icon>
                        Dashboard
                    </div>
                </a>
            </paper-item>
            <paper-item name="map-view" class="menu-trigger">
                <paper-ripple></paper-ripple>
                <a href="#/map-view">
                    <div class="trigger-head">
                        <iron-icon icon="location-on" class="menu-item-ui-icon"></iron-icon>
                        Map
                    </div>
                </a>
            </paper-item>
            <paper-item name="messages" class="menu-trigger">
                <paper-ripple></paper-ripple>
                <a href="#/messages">
                    <div class="trigger-head">
                        <iron-icon icon="message" class="menu-item-ui-icon"></iron-icon>
                        Messages
                    </div>
                </a>
            </paper-item>
            <paper-item name="sos" class="menu-trigger">
                <paper-ripple></paper-ripple>
                <a href="#/sos">
                    <div class="trigger-head">
                        <iron-icon icon="notifications" class="menu-item-ui-icon"></iron-icon>
                        SOS
                    </div>
                </a>
            </paper-item>
        </paper-listbox>
    </template>
    <script>
        class RydzMenu extends Polymer.Element {
            static get is() {
                return "rydz-menu";
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routePageChanged'
                    },
                    tab: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routeTabChanged'
                    }
                }
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                    '_routeTabChanged(tabData.tab)'
                ]
            }

            _routePageChanged(page) {
                this.page = page;
            }

            _routeTabChanged(tab) {
                this.tab = tab;
            }

        }

        window.customElements.define(RydzMenu.is, RydzMenu);
    </script>
</dom-module>
