<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"rydz-login" - Rydz Login component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-progress/paper-progress.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/iron-a11y-keys/iron-a11y-keys.html">

<script type="text/javascript" src="../../../bower_components/crypto-js/crypto-js.js"></script>
<script type="text/javascript" src="../../../bower_components/crypto-js/hmac-md5.js"></script>

<link rel="import" href="../../rydz-icons.html">
<link rel="import" href="redux-login-mixin.html">

<dom-module id="rydz-login">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
                padding: 0;
                width: 100%;
                height: 100%;
            }

            #login {
                display: flex;
                width: 100%;
                min-height: 100vh;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                background: -moz-linear-gradient(90deg, #ffffff 50%, #01579b 50%);
                /* ff3.6+ */
                background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #01579b), color-stop(50%, #ffffff));
                /* safari4+,chrome */
                background: -webkit-linear-gradient(90deg, #ffffff 50%, #01579b 50%);
                /* safari5.1+,chrome10+ */
                background: -o-linear-gradient(90deg, #ffffff 50%, #01579b 50%);
                /* opera 11.10+ */
                background: -ms-linear-gradient(90deg, #ffffff 50%, #01579b 50%);
                /* ie10+ */
                background: linear-gradient(0deg, #ffffff 50%, #01579b 50%);
                /* w3c */
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01579b', endColorstr='#ffffff', GradientType=0);
                /* ie6-9 */
            }

            #top_half {
                width: 100%;
                height: 50%;
                background-attachment: fixed !important;
                background-position: 50% 50% !important;
                background-size: cover !important;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            #top_half h2 {
                @apply(--paper-font-headline);
                color: #fff;
                text-transform: uppercase;
            }

            .card-container {
                margin-top: 140px;
                margin-bottom: 60px;
            }

            .login-logo {
                position: absolute;
                top: -110px;
                text-align: center;
                width: 100%;
                left: 0;
            }

            .card-content {
                width: 500px;
            }

            .card-actions {
                @apply(--layout-horizontal);
                @apply(--layout-justified);
                justify-content: space-between;
                padding: 12px 16px !important;
            }

            .login-icon {
                color: #ccc;
                margin-right: 10px;
                margin-bottom: 2px;
            }

            .form-row {
                @apply(--layout-horizontal);
                margin: 25px 0 10px 0;
            }

            .remember {
                cursor: pointer;
                --primary-color: var(--paper-red-a200);
            }

            .login-error_message {
                @apply(--paper-font-body1);
                background-color: var(--paper-yellow-100);
                color: #333333;
                text-align: center;
                line-height: 28px;
            }

            .login paper-progress {
                width: 100%;
                --paper-progress-active-color: var(--paper-red-a200);
                position: absolute;
                top: 0;
                left: 0;
            }

            .login_forgot {
                margin: 0;
                color: var(--paper-light-blue-a700);
                --paper-button-ink-color: var(--paper-light-blue-a700);
            }

            .login-btn:not([disabled]) {
                background-color: var(--paper-light-blue-a700);
                color: white;
                --paper-button-raised-keyboard-focus: {
                    background-color: var(--paper-light-blue-a700) !important;
                    color: white !important;
                };
            }

            .login-btn {
                padding: 0 25px;
                margin: 0;
            }

            .forgot-password app-toolbar {
                background-color: var(--app-primary-color);
                color: #fff;
                margin-top: 0;
            }

            .forgot-password p {
                margin-top: 30px;
            }

            .forgot-password .buttons {
                padding: 32px 24px 22px;
            }

            .forgot-password paper-progress {
                width: 100%;
                --paper-progress-active-color: var(--paper-light-blue-a400);
                --paper-progress-container-color: var(--app-primary-color);
            }

            @media (max-width: 1024px) {
                .card-content {
                    width: 100%;
                    box-sizing: border-box;
                }
            }
        </style>
        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subroute}}"></app-route>
        <iron-a11y-keys id="a11y" target="[[target]]" keys="enter"
                        on-keys-pressed="_loginUser"></iron-a11y-keys>
        <div id="login" class="login">
            <div id="top_half" style="background: #01579b url('images/login_bg.png') no-repeat;"></div>
            <paper-card class="card-container">
                <div class="login-logo">
                    <img src$="[[companyLogo]]" alt="">
                </div>
                <div class="card-content">
                    <!-- hidden$="{{!invalidCred}}" To Hide-->
                    <div class="login-error_message">[[loginMessage]]</div>
                    <iron-form id="rydzLoginForm">
                        <form>
                            <!--To apply error message please use the attribute 'error-message' i.e: error-message="2 or more characters"-->
                            <paper-input name="user_id" id="userId" label="Username"
                                         pattern="[A-Za-z0-9._%+-]{2,15}" auto-validate autofocus
                                         required>
                                <iron-icon icon="person" slot="prefix" class="login-icon"></iron-icon>
                            </paper-input>
                            <paper-input name="password" label="Password" id="password" type="password"
                                         auto-validate required>
                                <iron-icon icon="https" slot="prefix" class="login-icon"></iron-icon>
                            </paper-input>
                            <div class="form-row">
                                <paper-toggle-button name="remember" id="remember" class="remember"
                                                     checked="{{remember}}">[[remember_label]]
                                </paper-toggle-button>
                            </div>
                        </form>
                    </iron-form>
                </div>
                <paper-progress indeterminate hidden$="{{!loginLoading}}"></paper-progress>
                <div class="card-actions">
                    <paper-button class="login_forgot" on-tap="_forgotPassword">Forgot Password</paper-button>
                    <paper-button on-tap="_loginUser" raised class="login-btn" disabled$="[[!validLoginForm]]">
                        Sign In
                    </paper-button>
                </div>
            </paper-card>
        </div>
        <paper-dialog id="forgotPassword" class="forgot-password"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">
            <app-toolbar>
                <div main-title>Forgot your password?</div>
                <paper-progress indeterminate bottom-item hidden$="{{!forgotFormLoading}}"></paper-progress>
            </app-toolbar>
            <p>Please enter the username and we will send the password to your e-mail address.</p>
            <paper-input id="userNameForgotPassword" label="Username" required auto-validate>
                <iron-icon icon="person" slot="prefix" class="login-icon"></iron-icon>
            </paper-input>
            <div class="buttons">
                <paper-button dialog-dismiss>Cancel</paper-button>
                <paper-button raised class="login-btn" on-tap="_sendEmail" disabled$="[[!validForgotForm]]">Send Password
                </paper-button>
            </div>
        </paper-dialog>
        <paper-toast id="toast"></paper-toast>
    </template>
    <script>
        class RydzLogin extends ReduxLoginMixin(Polymer.Element) {
            static get is() {
                return "rydz-login";
            }

            static get properties() {
                return {
                    target: {
                        type: Object,
                        value: function () {
                            return Polymer.dom(this).querySelector('form');
                        }
                    },
                    loginMessage: {
                        type: String,
                        statePath: 'loginReducer.login_message'
                    },
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: "_routePageChanged"
                    },
                    tab: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routeTabChanged'
                    },
                    remember: {
                        type: Boolean,
                        statePath: 'loginReducer.remember'
                    },
                    publicValue: {
                        type: Boolean,
                        value: false,
                        notify: true
                    },
                    remember_label: {
                        type: String,
                        statePath: 'loginReducer.remember_label'
                    },
                    loginLoading: {
                        type: Boolean,
                        statePath: 'loginReducer.login_loading'
                    },
                    forgotFormLoading: {
                        type: Boolean,
                        statePath: 'loginReducer.forgot_password_loading'
                    },
                    invalidCred: {
                        type: Boolean,
                        statePath: 'loginReducer.login_status'
                    },
                    companyLogo: {
                        type: String,
                        statePath: 'rootReducer.companyLogo'
                    },
                    localIP: {
                        type: String,
                        value: null
                    },
                    publicIP: {
                        type: String,
                        value: null
                    },
                    validForgotForm: {
                        type: Boolean,
                        value: false
                    },
                    validLoginForm: {
                        type: Boolean,
                        value: false
                    },
                    toastMessage: {
                        type: String,
                        statePath: 'loginReducer.toastMessage',
                        observer: 'updateToast'
                    },
                    forgotPasswordSuccess: {
                        type: String,
                        statePath: 'loginReducer.forgot_password_success',
                        observer: 'forgotDialogAction'
                    }
                }
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                    '_routeTabChanged(tabData.tab)'
                ]
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                let domScope = this;

                /*Login Form Validation*/
                this.validLoginForm = !!(this.$.userId.value && this.$.password.value);
                this.$.userId.addEventListener('value-changed', function () {
                    domScope.validLoginForm = !!(domScope.$.userId.value && domScope.$.password.value);
                });
                this.$.password.addEventListener('value-changed', function () {
                    domScope.validLoginForm = !!(domScope.$.userId.value && domScope.$.password.value);
                });

                /*Forgot Password Form Validation*/
                this.validForgotForm = !!this.$.userNameForgotPassword.value;
                this.$.userNameForgotPassword.addEventListener('value-changed', function () {
                    domScope.validForgotForm = !!this.value;
                });
            }

            updateToast(message) {
                let toast = this.$.toast;
                if (message) {
                    toast.text = message;
                    setTimeout(function () {
                        toast.open();
                    }, 500);
                }
            }

            forgotDialogAction(e) {
                let forgotPasswordModal = this.$.forgotPassword;
                if (e === true) {
                    forgotPasswordModal.close();
                } else if (e === false) {
                    this.$.userNameForgotPassword.invalid = true;
                    this.$.userNameForgotPassword.errorMessage = 'This username does not exist in our records';
                }
            }

            _routePageChanged(page) {
                if (page === undefined) {
                    return;
                }

                this.page = page || 'login';
            }

            _routeTabChanged(tab) {
                this.tab = tab;
            }

            _publicComputer() {
                if (this.publicValue === true) {
                    this.set('remember', false);
                } else if (this.publicValue === false) {
                    this.set('remember', true);
                }
            }

            getLocalIP() {
                /*Source: http://net.ipcalf.com/*/
                // NOTE: window.RTCPeerConnection is "not a constructor" in FF22/23
                let RTCPeerConnection = /*window.RTCPeerConnection ||*/ window.webkitRTCPeerConnection || window.mozRTCPeerConnection;
                let domScope = this;

                if (RTCPeerConnection) (function () {
                    let rtc = new RTCPeerConnection({iceServers: []});
                    if (1 || window.mozRTCPeerConnection) {      // FF [and now Chrome!] needs a channel/stream to proceed
                        rtc.createDataChannel('', {reliable: false});
                    }

                    rtc.onicecandidate = function (evt) {
                        // convert the candidate to SDP so we can run it through our general parser
                        // see https://twitter.com/lancestout/status/525796175425720320 for details
                        if (evt.candidate) grepSDP("a=" + evt.candidate.candidate);
                    };
                    rtc.createOffer(function (offerDesc) {
                        grepSDP(offerDesc.sdp);
                        rtc.setLocalDescription(offerDesc);
                    }, function (e) {
                        console.warn("offer failed", e);
                    });


                    let addrs = Object.create(null);
                    addrs["0.0.0.0"] = false;

                    function updateDisplay(newAddr) {
                        if (newAddr in addrs) return;
                        else addrs[newAddr] = true;
                        let displayAddrs = Object.keys(addrs).filter(function (k) {
                            return addrs[k];
                        });
                        domScope.localIP = displayAddrs.join(" or perhaps ") || "n/a";
                    }

                    function grepSDP(sdp) {
                        let hosts = [];
                        sdp.split('\r\n').forEach(function (line) { // c.f. http://tools.ietf.org/html/rfc4566#page-39
                            if (~line.indexOf("a=candidate")) {     // http://tools.ietf.org/html/rfc4566#section-5.13
                                let parts = line.split(' '),        // http://tools.ietf.org/html/rfc5245#section-15.1
                                    addr = parts[4],
                                    type = parts[7];
                                if (type === 'host') updateDisplay(addr);
                            } else if (~line.indexOf("c=")) {       // http://tools.ietf.org/html/rfc4566#section-5.7
                                let parts = line.split(' '),
                                    addr = parts[2];
                                updateDisplay(addr);
                            }
                        });
                    }
                })();

            }

            _forgotPassword() {
                let username = this.$.userId;
                let domScope = this;

                this.$.userNameForgotPassword.invalid = false;
                if (username.value) {
                    this.$.userNameForgotPassword.value = username.value
                }
                this.$.forgotPassword.open();

                /*Get Local IP*/
                this.getLocalIP();

                /*Fetch Public IP using third party api https://api.ipify.org*/
                fetch('https://api.ipify.org')
                    .then(response => response.text())
                    .then(data => {
                        domScope.publicIP = data;
                    }).catch(error => {
                    console.log(error);
                    domScope.publicIP = null
                });
            }

            _sendEmail() {
//                this.$.userNameForgotPassword.invalid = false;
//                this.$.userNameForgotPassword.errorMessage = '';
                this.dispatch('forgotPasswordData', {
                    "user_id": this.$.userNameForgotPassword.value,
                    "local_ip1": this.localIP,
                    "public_ip": this.publicIP
                });
            }

            _loginUser() {
                if (this.$.rydzLoginForm.validate()) {
                    let username = this.$.userId;
                    let password = this.$.password;
                    let remember = this.$.remember;
                    /*Encrypt Password using MD5 hash key*/
                    let passHash = CryptoJS.MD5(password.value).toString(CryptoJS.enc.HmacMD5);
                    let formData = {};
                    formData['user_id'] = username.value;
                    formData['password'] = passHash;
                    formData['remember'] = remember.value;
                    this.dispatch('loginUser', formData);
                    this.set("route.path", "/dashboard/all-rides");
                }
            }
        }

        window.customElements.define(RydzLogin.is, RydzLogin);
    </script>
</dom-module>