<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"rydz-overview" - Rydz Overview component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../../redux-store.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../../rydz-components/rydz-dashboard/rydz-dashboard.html">
<link rel="import" href="../../rydz-components/rydz-menu/rydz-menu.html">

<!-- External JavaScript Files -->
<script src="../../../scripts/sockjs-0.3.min.js"></script>
<script src="../../../scripts/stomp.js"></script>
<script src="../../../scripts/globals.js"></script>
<script src="../../../scripts/utility.js"></script>

<dom-module id="rydz-overview">
    <template>
        <style include="shared-styles">
            :host {
                display: block;
            }

            neon-animated-pages {
                height: 100%;
            }

            .header {
                position: fixed;
                top: 0;
                right: 0;
                left: 0;
                background-color: #FFF;
                font-weight: 400;
                z-index: var(--app-header-z-index);
            }

            .wetrack-logo {
                padding-top: 6px;
            }

            paper-button {
                padding: 0.3em 0.57em;
                @apply(--paper-font-body2);
                color: var(--paper-grey-800)
            }

            app-header paper-icon-button {
                --paper-icon-button-ink-color: white;
            }

            #content-wrap {
                position: absolute;
                top: 64px;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .drawer {
                display: none;
                --app-drawer-content-container: {
                    background: var(--app-primary-color);
                };
                --app-drawer-width: 265px;
            }

            .drawer-contents {
                height: 100%;
                overflow-y: auto;
                -webkit-overflow-scrolling: touch;
            }

            .drawer-contents img {
                display: block;
                margin: 16px 30px;
                height: 24px;
            }

            .drawer-toggle {
                display: none;
                z-index: var(--app-header-z-index);
            }

            nav.rydz-nav {
                position: absolute;
                top: 0;
                bottom: 0;
                color: #f5f5f5;
                background: var(--app-primary-color);
                width: 265px;
                z-index: 100;
                box-shadow: 5px 0 6px -3px rgba(0, 0, 0, 0.4);
                padding: 0px;
                overflow-x: hidden;
                overflow-y: auto;
            }

            #content-main {
                position: absolute;
                top: 0;
                left: 265px;
                right: 0;
                bottom: 0;
                background: #fff;
            }

            .logout-user app-toolbar {
                background-color: var(--app-primary-color);
                color: #fff;
                margin-top: 0;
            }

            .logout-user p {
                margin-top: 30px;
            }

            .logout-user .buttons {
                padding: 32px 24px 22px;
            }

            @media (max-width: 768px) {
                .drawer,
                .drawer-toggle {
                    display: block;
                    color: #242424;
                    z-index: var(--app-drawer-z-index);
                }

                .logo {
                    padding-left: 5px;
                }

                .drawer {
                    --app-drawer-content-container: {
                        background: var(--app-primary-color);
                    };
                    box-shadow: 5px 0 6px -3px rgba(0, 0, 0, 0.8);
                    --app-drawer-width: 265px;
                }

                .rydz-nav {
                    display: none
                }

                #content-main {
                    left: 0
                }
            }
        </style>

        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>
        <app-route route="{{subroute}}"
                   pattern="/:tab"
                   data="{{tabData}}"></app-route>
        <app-header class="header" reveals snaps shadow>
            <app-toolbar>
                <paper-icon-button icon="menu" class="drawer-toggle" on-tap="_toggleDrawer"></paper-icon-button>
                <div main-title>
                    <img src$="[[companyLogo]]" class="logo" alt="Rydz App" style="width: 120px;">
                </div>
                <paper-button raised on-tap="_logoutUser">Logout</paper-button>
            </app-toolbar>
        </app-header>
        <app-drawer id="drawer" class="drawer">
            <div class="drawer-contents">
                <rydz-menu></rydz-menu>
            </div>
        </app-drawer>
        <div id="content-wrap">
            <nav class="rydz-nav">
                <rydz-menu></rydz-menu>
            </nav>
            <div id="content-main">
                <neon-animated-pages selected="[[page]]" attr-for-selected="name" fallback-selection="404-page"
                                     role="main" entry-animation="fade-in-animation"
                                     exit-animation="fade-out-animation">
                    <rydz-dashboard name="dashboard"></rydz-dashboard>
                </neon-animated-pages>
            </div>
        </div>
        <paper-dialog id="logoutUser" class="logout-user"
                      with-backdrop
                      entry-animation="scale-up-animation"
                      exit-animation="fade-out-animation">
            <app-toolbar>
                <div main-title>Log Out</div>
            </app-toolbar>
            <p>Are you sure you want to logout?</p>
            <div class="buttons">
                <paper-button dialog-dismiss>No</paper-button>
                <paper-button raised class="login-btn" on-tap="_sendEmail" disabled$="[[!validForgotForm]]">Logout
                </paper-button>
            </div>
        </paper-dialog>
    </template>
    <script>
        class RydzOverview extends ReduxMixin(Polymer.Element) {
            static get is() {
                return 'rydz-overview'
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: "_routePageChanged"
                    },
                    tab: {
                        type: String,
                        reflectToAttribute: true,
                        observer: '_routeTabChanged'
                    },
                    companyLogo: {
                        type: String,
                        statePath: 'rootReducer.companyLogo'
                    }
                }
            }

            static get observers() {
                return [
                    '_routePageChanged(routeData.page)',
                    '_routeTabChanged(tabData.tab)'
                ]
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                this.page = 'dashboard';
            }

            _routePageChanged(page) {
                if (page === undefined) {
                    return;
                }
                this.page = page || 'dashboard';

                if (this.$.drawer && !this.$.drawer.persistent) {
                    this.$.drawer.close();
                }
            }

            _routeTabChanged(tab) {
                this.tab = tab;
            }

            _toggleDrawer() {
                this.$.drawer.toggle();
            }

            _logoutUser() {
                this.dispatch({
                    type: "LOGOUT_USER_SUCCESS"
                });
                localStorage.clear();
                this.set("route.path", "/login");
            }
        }

        window.customElements.define(RydzOverview.is, RydzOverview);
    </script>
</dom-module>