<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"redux-store" - Rydz State Management.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->
<link rel="import" href="rydz-scripts.html">
<link rel="import" href="../bower_components/polymer-redux/polymer-redux.html">
<link rel="import" href="redux-reducer.html">

<script>
    let token = '';
    let isLoggedIn = false;
    let companyName = '';
    let companyLogo = '';
    let siteURL = 'https://dev.rydzapp.com/';
    let apiPath = 'Service/v3/';

    if (typeof (Storage) !== "undefined") {
        token = localStorage.getItem("token");
        isLoggedIn = localStorage.getItem("isLoggedIn");
        companyName = localStorage.getItem("company_name");
        companyLogo = localStorage.getItem("company_logo") || siteURL + 'images/logo.png';
    } else {
        token = '';
    }

    // Axios Defaults
    const client = axios.create({
        baseURL: siteURL + apiPath,
        responseType: 'json'
    });

    // Initial State of the application (rootReducer comes from redux-reducer.html)
    const globalState = {
        rootReducer: {
            isLoggedIn: isLoggedIn,
            siteURL: siteURL,
            companyName: companyName,
            companyLogo: companyLogo
        }
    };

    const thunk = ReduxThunk.default; // Allows us to send async dispatches or actions
    const axiosMiddleware = ReduxAxiosMiddleware.default;
    const logger = reduxLogger.logger;
    const middleware = Redux.applyMiddleware(thunk, axiosMiddleware(client), logger);
    const store = Redux.createStore(reducers, globalState, middleware);

    const ReduxMixin = PolymerRedux(store);
</script>