<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"redux-reducer" - Rydz All Reducers.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="rydz-components/rydz-dashboard/rydz-dashboard-reducer.html">
<link rel="import" href="rydz-components/rydz-login/rydz-login-reducer.html">

<script>
    // Reducer to reduce the global state
    const rootReducer = (state = {}, action) => {
        switch (action.type) {
            case "POST_CREDENTIALS_SUCCESS":
                if (!action.payload.data.is_fault && action.payload.data.data.user_type === 'Executive') {
                    return Object.assign({}, state, {
                        isLoggedIn: true
                    });
                } else {
                    return Object.assign({}, state, {
                        isLoggedIn: false
                    });
                }
                break;

            case "LOGOUT_USER_SUCCESS":
                return Object.assign({}, state, {
                    isLoggedIn: false
                });
            default:
                return state;
        }
    };
    const reducers = Redux.combineReducers({
        rootReducer: rootReducer,
        dashboardReducer: dashboardReducer,
        loginReducer: loginReducer
    });
</script>