<script src="../node_modules/babel-polyfill/dist/polyfill.js"></script>
<script src="../node_modules/lodash/lodash.js"></script>
<script src="../node_modules/redux/dist/redux.js"></script>
<script src="../node_modules/redux-thunk/dist/redux-thunk.js"></script>
<script src="../bower_components/axios/dist/axios.js"></script>
<script src="../node_modules/redux-axios-middleware/dist/bundle.js"></script>
<script src="../node_modules/redux-logger/dist/redux-logger.js"></script>