<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/iron-iconset-svg/iron-iconset-svg.html">

<iron-iconset-svg name="icons" size="24">
  <svg>
    <defs>
      <g id="apps"><path d="M4 8h4V4H4v4zm6 12h4v-4h-4v4zm-6 0h4v-4H4v4zm0-6h4v-4H4v4zm6 0h4v-4h-4v4zm6-10v4h4V4h-4zm-6 4h4V4h-4v4zm6 6h4v-4h-4v4zm0 6h4v-4h-4v4z"/></g>
      <g id="dashboard"><path d="M3 13h8V3H3v10zm0 8h8v-6H3v6zm10 0h8V11h-8v10zm0-18v6h8V3h-8z"/></g>
      <g id="done-all"><path d="M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z"/></g>
      <g id="build"><path d="M22.7 19l-9.1-9.1c.9-2.3.4-5-1.5-6.9-2-2-5-2.4-7.4-1.3L9 6 6 9 1.6 4.7C.4 7.1.9 10.1 2.9 12.1c1.9 1.9 4.6 2.4 6.9 1.5l9.1 9.1c.4.4 1 .4 1.4 0l2.3-2.3c.5-.4.5-1.1.1-1.4z"/></g>
      <g id="report"><path d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM12 17.3c-.72 0-1.3-.58-1.3-1.3 0-.72.58-1.3 1.3-1.3.72 0 1.3.58 1.3 1.3 0 .72-.58 1.3-1.3 1.3zm1-4.3h-2V7h2v6z"/></g>
      <g id="insert-drive-file"><path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z"/></g>
      <g id="add-location"><path d="M12 2C8.14 2 5 5.14 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.86-3.14-7-7-7zm4 8h-3v3h-2v-3H8V8h3V5h2v3h3v2z"/></g>
      <g id="date-range"><path d="M9 11H7v2h2v-2zm4 0h-2v2h2v-2zm4 0h-2v2h2v-2zm2-7h-1V2h-2v2H8V2H6v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11z"/></g>
      <g id="arrow-back"><path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></g>
      <g id="menu"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></g>
      <g id="chevron-right"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></g>
      <g id="close"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></g>
      <g id="refresh"><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/></g>
      <g id="add"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></g>
      <g id="event-note"><path d="M17 10H7v2h10v-2zm2-7h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zm-5-5H7v2h7v-2z"/></g>
      <g id="chat"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM6 9h12v2H6V9zm8 5H6v-2h8v2zm4-6H6V6h12v2z"/></g>
      <g id="schedule"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></g>
      <g id="settings"><path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/></g>
      <g id="slow-motion-video"><path d="M13.05 9.79L10 7.5v9l3.05-2.29L16 12zm0 0L10 7.5v9l3.05-2.29L16 12zm0 0L10 7.5v9l3.05-2.29L16 12zM11 4.07V2.05c-2.01.2-3.84 1-5.32 2.21L7.1 5.69c1.11-.86 2.44-1.44 3.9-1.62zM5.69 7.1L4.26 5.68C3.05 7.16 2.25 8.99 2.05 11h2.02c.18-1.46.76-2.79 1.62-3.9zM4.07 13H2.05c.2 2.01 1 3.84 2.21 5.32l1.43-1.43c-.86-1.1-1.44-2.43-1.62-3.89zm1.61 6.74C7.16 20.95 9 21.75 11 21.95v-2.02c-1.46-.18-2.79-.76-3.9-1.62l-1.42 1.43zM22 12c0 5.16-3.92 9.42-8.95 9.95v-2.02C16.97 19.41 20 16.05 20 12s-3.03-7.41-6.95-7.93V2.05C18.08 2.58 22 6.84 22 12z"/></g>
      <g id="videocam"><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"/></g>
      <g id="zoom-in"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14zm2.5-4h-2v2H9v-2H7V9h2V7h1v2h2v1z"/></g>
      <g id="help"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 17h-2v-2h2v2zm2.07-7.75l-.9.92C13.45 12.9 13 13.5 13 15h-2v-.5c0-1.1.45-2.1 1.17-2.83l1.24-1.26c.37-.36.59-.86.59-1.41 0-1.1-.9-2-2-2s-2 .9-2 2H8c0-2.21 1.79-4 4-4s4 1.79 4 4c0 .88-.36 1.68-.93 2.25z"/></g>
      <g id="person"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></g>
      <g id="lock"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></g>
      <g id="email"><path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/></g>
      <g id="call"><path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"/></g>
      <g id="create"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/></g>
      <g id="delete"><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"/></g>
      <g id="place"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></g>
      <g id="nfc"><path d="M20 2H4c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 18H4V4h16v16zM18 6h-5c-1.1 0-2 .9-2 2v2.28c-.6.35-1 .98-1 1.72 0 1.1.9 2 2 2s2-.9 2-2c0-.74-.4-1.38-1-1.72V8h3v8H8V8h2V6H6v12h12V6z"/></g>
      <g id="description"><path d="M14 2H6c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6zm2 16H8v-2h8v2zm0-4H8v-2h8v2zm-3-5V3.5L18.5 9H13z"/></g>
      <g id="search"><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></g>
      <g id="notifications"><path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/></g>
      <g id="domain"><path d="M12 7V3H2v18h20V7H12zM6 19H4v-2h2v2zm0-4H4v-2h2v2zm0-4H4V9h2v2zm0-4H4V5h2v2zm4 12H8v-2h2v2zm0-4H8v-2h2v2zm0-4H8V9h2v2zm0-4H8V5h2v2zm10 12h-8v-2h2v-2h-2v-2h2v-2h-2V9h8v10zm-2-8h-2v2h2v-2zm0 4h-2v2h2v-2z"/></g>
      <g id="fingerprint"><path d="M17.81 4.47c-.08 0-.16-.02-.23-.06C15.66 3.42 14 3 12.01 3c-1.98 0-3.86.47-5.57 1.41-.24.13-.54.04-.68-.2-.13-.24-.04-.55.2-.68C7.82 2.52 9.86 2 12.01 2c2.13 0 3.99.47 6.03 1.52.25.13.34.43.21.67-.09.18-.26.28-.44.28zM3.5 9.72c-.1 0-.2-.03-.29-.09-.23-.16-.28-.47-.12-.7.99-1.4 2.25-2.5 3.75-3.27C9.98 4.04 14 4.03 17.15 5.65c1.5.77 2.76 1.86 3.75 3.25.16.22.11.54-.12.7-.23.16-.54.11-.7-.12-.9-1.26-2.04-2.25-3.39-2.94-2.87-1.47-6.54-1.47-9.4.01-1.36.7-2.5 1.7-3.4 2.96-.08.14-.23.21-.39.21zm6.25 12.07c-.13 0-.26-.05-.35-.15-.87-.87-1.34-1.43-2.01-2.64-.69-1.23-1.05-2.73-1.05-4.34 0-2.97 2.54-5.39 5.66-5.39s5.66 2.42 5.66 5.39c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-2.42-2.09-4.39-4.66-4.39-2.57 0-4.66 1.97-4.66 4.39 0 1.44.32 2.77.93 3.85.64 1.15 1.08 1.64 1.85 2.42.19.2.19.51 0 .71-.11.1-.24.15-.37.15zm7.17-1.85c-1.19 0-2.24-.3-3.1-.89-1.49-1.01-2.38-2.65-2.38-4.39 0-.28.22-.5.5-.5s.5.22.5.5c0 1.41.72 2.74 1.94 3.56.71.48 1.54.71 2.54.71.24 0 .64-.03 1.04-.1.27-.05.53.13.58.41.05.27-.13.53-.41.58-.57.11-1.07.12-1.21.12zM14.91 22c-.04 0-.09-.01-.13-.02-1.59-.44-2.63-1.03-3.72-2.1-1.4-1.39-2.17-3.24-2.17-5.22 0-1.62 1.38-2.94 3.08-2.94 1.7 0 3.08 1.32 3.08 2.94 0 1.07.93 1.94 2.08 1.94s2.08-.87 2.08-1.94c0-3.77-3.25-6.83-7.25-6.83-2.84 0-5.44 1.58-6.61 4.03-.39.81-.59 1.76-.59 2.8 0 .78.07 2.01.67 3.61.1.26-.03.55-.29.64-.26.1-.55-.04-.64-.29-.49-1.31-.73-2.61-.73-3.96 0-1.2.23-2.29.68-3.24 1.33-2.79 4.28-4.6 7.51-4.6 4.55 0 8.25 3.51 8.25 7.83 0 1.62-1.38 2.94-3.08 2.94s-3.08-1.32-3.08-2.94c0-1.07-.93-1.94-2.08-1.94s-2.08.87-2.08 1.94c0 1.71.66 3.31 1.87 4.51.95.94 1.86 1.46 3.27 1.85.27.07.42.35.35.61-.05.23-.26.38-.47.38z"/></g>
      <g id="local-shipping"><path d="M20 8h-3V4H3c-1.1 0-2 .9-2 2v11h2c0 1.66 1.34 3 3 3s3-1.34 3-3h6c0 1.66 1.34 3 3 3s3-1.34 3-3h2v-5l-3-4zM6 18.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm13.5-9l1.96 2.5H17V9.5h2.5zm-1.5 9c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/></g>
      <g id="credit-card"><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"/></g>
      <g id="chat-bubble-outline"><path d="M20 2H4c-1.1 0-2 .9-2 2v18l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm0 14H6l-2 2V4h16v12z"/></g>
      <g id="local-offer"><path d="M21.41 11.58l-9-9C12.05 2.22 11.55 2 11 2H4c-1.1 0-2 .9-2 2v7c0 .55.22 1.05.59 1.42l9 9c.36.36.86.58 1.41.58.55 0 1.05-.22 1.41-.59l7-7c.37-.36.59-.86.59-1.41 0-.55-.23-1.06-.59-1.42zM5.5 7C4.67 7 4 6.33 4 5.5S4.67 4 5.5 4 7 4.67 7 5.5 6.33 7 5.5 7z"/></g>
      <g id="phone-android"><path d="M16 1H8C6.34 1 5 2.34 5 4v16c0 1.66 1.34 3 3 3h8c1.66 0 3-1.34 3-3V4c0-1.66-1.34-3-3-3zm-2 20h-4v-1h4v1zm3.25-3H6.75V4h10.5v14z"/></g>
      <g id="check"><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></g>
      <g id="dock"><path d="M8 23h8v-2H8v2zm8-21.99L8 1c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V3c0-1.1-.9-1.99-2-1.99zM16 15H8V5h8v10z"/></g>
      <g id="network-check"><path d="M15.9 5c-.17 0-.32.09-.41.23l-.07.15-5.18 11.65c-.16.29-.26.61-.26.96 0 1.11.9 2.01 2.01 2.01.96 0 1.77-.68 1.96-1.59l.01-.03L16.4 5.5c0-.28-.22-.5-.5-.5zM1 9l2 2c2.88-2.88 6.79-4.08 10.53-3.62l1.19-2.68C9.89 3.84 4.74 5.27 1 9zm20 2l2-2c-1.64-1.64-3.55-2.82-5.59-3.57l-.53 2.82c1.5.62 2.9 1.53 4.12 2.75zm-4 4l2-2c-.8-.8-1.7-1.42-2.66-1.89l-.55 2.92c.42.27.83.59 1.21.97zM5 13l2 2c1.13-1.13 2.56-1.79 4.03-2l1.28-2.88c-2.63-.08-5.3.87-7.31 2.88z"/></g>
      <g id="directions"><path d="M21.71 11.29l-9-9c-.39-.39-1.02-.39-1.41 0l-9 9c-.39.39-.39 1.02 0 1.41l9 9c.39.39 1.02.39 1.41 0l9-9c.39-.38.39-1.01 0-1.41zM14 14.5V12h-4v3H8v-4c0-.55.45-1 1-1h5V7.5l3.5 3.5-3.5 3.5z"/></g>
      <g id="directions-bus"><path d="M4 16c0 .88.39 1.67 1 2.22V20c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h8v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1.78c.61-.55 1-1.34 1-2.22V6c0-3.5-3.58-4-8-4s-8 .5-8 4v10zm3.5 1c-.83 0-1.5-.67-1.5-1.5S6.67 14 7.5 14s1.5.67 1.5 1.5S8.33 17 7.5 17zm9 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm1.5-6H6V6h12v5z"/></g>
      <g id="restore"><path d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z"/></g>
      <g id="map"><path d="M20.5 3l-.16.03L15 5.1 9 3 3.36 4.9c-.21.07-.36.25-.36.48V20.5c0 .28.22.5.5.5l.16-.03L9 18.9l6 2.1 5.64-1.9c.21-.07.36-.25.36-.48V3.5c0-.28-.22-.5-.5-.5zM15 19l-6-2.11V5l6 2.11V19z"/></g>
      <g id="undo"><path d="M12.5 8c-2.65 0-5.05.99-6.9 2.6L2 7v9h9l-3.62-3.62c1.39-1.16 3.16-1.88 5.12-1.88 3.54 0 6.55 2.31 7.6 5.5l2.37-.78C21.08 11.03 17.15 8 12.5 8z"/></g>
      <g id="today"><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/></g>
      <g id="fence"><path d="M11,4.5v5h2v-5h2v5h2v-4h2v4h2V7.5H23v12h-2v-2h-2v2h-2v-2h-2v2h-2v-2h-2v2h-2v-2H7v2H5v-2H3v2H1v-12h2v2h2v-4h2v4h2V4.5H11z M3,15.4h2v-4H3V15.4z M7,15.4h2v-4H7V15.4z M11,15.4h2v-4h-2V15.4z M15,15.4h2v-4h-2V15.4z M19,15.4h2v-4h-2V15.4z"/></g>
      <g id="videocam"><path d="M17 10.5V7c0-.55-.45-1-1-1H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1v-3.5l4 4v-11l-4 4z"/></g>
      <g id="videocam-off"><path d="M21 6.5l-4 4V7c0-.55-.45-1-1-1H9.82L21 17.18V6.5zM3.27 2L2 3.27 4.73 6H4c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.21 0 .39-.08.54-.18L19.73 21 21 19.73 3.27 2z"/></g>
      <g id="image"><path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/></g>
      <g id="access-time"><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm.5-13H11v6l5.25 3.15.75-1.23-4.5-2.67z"/></g>
      <g id="skip-previous"><path d="M6 6h2v12H6zm3.5 6l8.5 6V6z"/></g>
      <g id="skip-next"><path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z"/></g>
      <g id="keyboard-arrow-left"><path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/></g>
      <g id="keyboard-arrow-right"><path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/></g>
      <g id="info"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></g>
      <g id="receipt"><path d="M18 17H6v-2h12v2zm0-4H6v-2h12v2zm0-4H6V7h12v2zM3 22l1.5-1.5L6 22l1.5-1.5L9 22l1.5-1.5L12 22l1.5-1.5L15 22l1.5-1.5L18 22l1.5-1.5L21 22V2l-1.5 1.5L18 2l-1.5 1.5L15 2l-1.5 1.5L12 2l-1.5 1.5L9 2 7.5 3.5 6 2 4.5 3.5 3 2v20z"/></g>
      <g id="more"><path d="M22 3H7c-.69 0-1.23.35-1.59.88L0 12l5.41 8.11c.36.53.97.89 1.66.89H22c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zM9 13.5c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm5 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zm5 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5z"/></g>
      <g id="more-vert"><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></g>
      <g id="arrow-drop-down"><path d="M7 10l5 5 5-5z"/></g>
      <g id="arrow-drop-up"><path d="M7 14l5-5 5 5z"/></g>
      <g id="star"><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></g>
      <g id="star-border"><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></g>
      <g id="https"><path d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zm-6 9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2-.9 2-2 2zm3.1-9H8.9V6c0-1.71 1.39-3.1 3.1-3.1 1.71 0 3.1 1.39 3.1 3.1v2z"/></g>
      <g id="zoom-out-map"><path d="M15 3l2.3 2.3-2.89 2.87 1.42 1.42L18.7 6.7 21 9V3zM3 9l2.3-2.3 2.87 2.89 1.42-1.42L6.7 5.3 9 3H3zm6 12l-2.3-2.3 2.89-2.87-1.42-1.42L5.3 17.3 3 15v6zm12-6l-2.3 2.3-2.87-2.89-1.42 1.42 2.89 2.87L15 21h6z"/></g>
      <g id="unfold-more"><path d="M12 5.83L15.17 9l1.41-1.41L12 3 7.41 7.59 8.83 9 12 5.83zm0 12.34L8.83 15l-1.41 1.41L12 21l4.59-4.59L15.17 15 12 18.17z"/></g>
      <g id="arrow-forward"><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8z"/></g>
      <g id="location-searching"><path d="M20.94 11c-.46-4.17-3.77-7.48-7.94-7.94V1h-2v2.06C6.83 3.52 3.52 6.83 3.06 11H1v2h2.06c.46 4.17 3.77 7.48 7.94 7.94V23h2v-2.06c4.17-.46 7.48-3.77 7.94-7.94H23v-2h-2.06zM12 19c-3.87 0-7-3.13-7-7s3.13-7 7-7 7 3.13 7 7-3.13 7-7 7z"/></g>
      <g id="pin-drop"><path d="M18 8c0-3.31-2.69-6-6-6S6 4.69 6 8c0 4.5 6 11 6 11s6-6.5 6-11zm-8 0c0-1.1.9-2 2-2s2 .9 2 2-.89 2-2 2c-1.1 0-2-.9-2-2zM5 20v2h14v-2H5z"/></g>
      <g id="car"><path transform="translate(0, 3)" d="M20.9,3.5c-1.8-2-4.1-3.2-6.7-3.5C11.6-0.2,9.1,0.8,7,3C5.4,4.6,4.7,6.3,4.6,6.4c0,0,0,0,0,0c-1.1,0-1.8,0-2,0
	c-3.1,0-4,6,0.1,6c0.3,0-0.9,0,0.4,0c0-1.7,1.5-3.1,3.2-3.1c1.7,0,3.1,1.4,3.2,3.1c1.8,0,3.6,0,5.4,0c0-1.7,1.5-3.1,3.2-3.1
	c1.7,0,3.2,1.4,3.2,3.1C25.7,12.4,24,7,20.9,3.5z M5.9,6.4c0.3-0.6,1-1.6,1.9-2.6c1.7-1.8,3.6-2.7,5.8-2.6v5.2
	C10.8,6.3,8,6.4,5.9,6.4z M13.3,8.4h-1.2c-0.1,0-0.3-0.1-0.3-0.3c0-0.1,0.1-0.3,0.3-0.3h1.2c0.1,0,0.3,0.1,0.3,0.3
	C13.6,8.3,13.4,8.4,13.3,8.4z M14.4,6.3V1.1c2.3,0.3,4.2,1.3,5.7,3.1c0.7,0.8,1.2,1.6,1.4,2.1C20,6.3,17.3,6.3,14.4,6.3z M6.4,9.8
	c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7C7.8,15.1,9,14,9,12.5S7.8,9.8,6.4,9.8z M6.4,13.9c-0.8,0-1.4-0.6-1.4-1.4
	c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4C7.8,13.3,7.1,13.9,6.4,13.9z M18.2,9.8c-1.5,0-2.7,1.2-2.7,2.7s1.2,2.7,2.7,2.7
	c1.5,0,2.7-1.2,2.7-2.7S19.6,9.8,18.2,9.8z M18.2,13.9c-0.8,0-1.4-0.6-1.4-1.4c0-0.8,0.6-1.4,1.4-1.4c0.8,0,1.4,0.6,1.4,1.4
	C19.6,13.3,18.9,13.9,18.2,13.9z"/></g>
      <g id="suv"><path transform="translate(0, 7)" d="M3.8,5.5c-1,0-1.9,0.8-1.9,1.9c0,0.1,0,0.2,0,0.2c0.1,0.9,0.9,1.7,1.9,1.7c1,0,1.8-0.8,1.9-1.7
	c0-0.1,0-0.1,0-0.2C5.7,6.4,4.9,5.5,3.8,5.5z M2.9,6.7l0.4,0.4c0,0.1-0.1,0.1-0.1,0.2H2.7C2.7,7,2.8,6.9,2.9,6.7z M2.7,7.6h0.5
	c0,0.1,0,0.1,0.1,0.2L2.9,8.1C2.8,8,2.7,7.8,2.7,7.6z M3.7,8.6c-0.2,0-0.4-0.1-0.5-0.2L3.5,8C3.6,8,3.6,8,3.7,8V8.6z M3.7,6.8
	c-0.1,0-0.1,0-0.2,0.1L3.1,6.5c0.2-0.1,0.3-0.2,0.6-0.2V6.8z M4,6.2c0.2,0,0.4,0.1,0.6,0.2L4.2,6.8C4.1,6.8,4.1,6.8,4,6.8V6.2z
	 M4,8.6V8C4.1,8,4.1,8,4.2,8l0.4,0.4C4.4,8.5,4.2,8.6,4,8.6z M4.8,8.1L4.4,7.7c0-0.1,0.1-0.1,0.1-0.2H5C5,7.8,4.9,8,4.8,8.1z
	 M4.5,7.2c0-0.1,0-0.1-0.1-0.2l0.4-0.4C4.9,6.8,5,7,5,7.2L4.5,7.2L4.5,7.2z M19.8,5.5c-1,0-1.9,0.8-1.9,1.9c0,0.1,0,0.2,0,0.2
	c0.1,0.9,0.9,1.7,1.9,1.7c1,0,1.8-0.8,1.9-1.7c0-0.1,0-0.1,0-0.2C21.7,6.4,20.8,5.5,19.8,5.5z M18.8,6.7l0.4,0.4
	c0,0.1-0.1,0.1-0.1,0.2h-0.5C18.7,7,18.7,6.9,18.8,6.7z M18.6,7.6h0.5c0,0.1,0,0.1,0.1,0.2l-0.4,0.4C18.7,8,18.6,7.8,18.6,7.6z
	 M19.6,8.6c-0.2,0-0.4-0.1-0.5-0.2L19.5,8C19.5,8,19.6,8,19.6,8V8.6z M19.6,6.8c-0.1,0-0.1,0-0.2,0.1l-0.4-0.4
	c0.2-0.1,0.3-0.2,0.6-0.2C19.6,6.2,19.6,6.8,19.6,6.8z M20,6.2c0.2,0,0.4,0.1,0.6,0.2l-0.4,0.4c-0.1,0-0.1-0.1-0.2-0.1V6.2z M20,8.6
	V8C20,8,20.1,8,20.1,8l0.4,0.4C20.4,8.5,20.2,8.6,20,8.6z M20.7,8.1l-0.4-0.4c0-0.1,0.1-0.1,0.1-0.2H21C20.9,7.8,20.9,8,20.7,8.1z
	 M20.4,7.2c0-0.1,0-0.1-0.1-0.2l0.4-0.4C20.9,6.8,20.9,7,21,7.2L20.4,7.2L20.4,7.2z M23.8,4.9l-0.4-0.3l0-1.1c0-0.3-0.1-0.6-0.3-0.8
	l-1.3-1.5v0c0-0.3-0.2-0.6-0.5-0.6c-1.6-0.3-6.6-1.1-10.5,0c-2.4,0.7-4.9,2-4.9,2S1.6,3,0.6,4.4C0.2,4.9,0.1,5.5,0,6
	c-0.1,0.8,0.4,1.5,1.2,1.6l0.4,0.1c0,0,0,0,0-0.1c0-0.1,0-0.2,0-0.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3c0,0.1,0,0.1,0,0.2
	c0,0.1,0,0.2,0,0.2l11.5,0c0-0.1,0-0.1,0-0.2c0-0.1,0-0.2,0-0.3c0-1.3,1-2.3,2.3-2.3c1.3,0,2.3,1,2.3,2.3c0,0.1,0,0.1,0,0.2
	c0,0.1,0,0.2,0,0.3l0.2,0l0.7-0.4C23.5,7.1,24,6.4,24,5.6l0-0.3C24,5.2,23.9,5,23.8,4.9z M8.1,2.7L8.3,2c0,0,2.7-1.4,7.1-1.2v2.1
	L8.3,3.4C8.3,3.4,8.3,2.9,8.1,2.7z M19.6,2.5l-3.4,0.3v-2c1.1,0.1,2.3,0.3,3.6,0.6c0.1,0,0.2,0.1,0.3,0.3c0,0.1,0,0.3-0.1,0.4
	L19.6,2.5z"/></g>
      <g id="bus"><path transform="translate(0, 5)" d="M5.3,9c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2C7.6,10,6.6,9,5.3,9z M5.3,12.2
	c-0.5,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.5,0,1,0.4,1,1C6.3,11.8,5.9,12.2,5.3,12.2z M18.4,9c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2
	c1.2,0,2.2-1,2.2-2.2S19.6,9,18.4,9z M18.4,12.2c-0.5,0-1-0.4-1-1c0-0.5,0.4-1,1-1c0.5,0,1,0.4,1,1C19.4,11.8,18.9,12.2,18.4,12.2z
	 M22.7,0h-20C1.9,0,1.2,0.6,1.1,1.3L0.3,4.2C0.1,4.9,0,6.1,0,6.9v3.1c0,0.7,0.6,1.3,1.3,1.3h1.4c0-1.4,1.2-2.6,2.6-2.6
	C6.8,8.6,8,9.8,8,11.3h7.8c0-1.4,1.2-2.6,2.6-2.6c1.5,0,2.6,1.2,2.6,2.6h1.6c0.7,0,1.3-0.6,1.3-1.3V1.3C24,0.6,23.4,0,22.7,0z
	 M5.5,5.6H2.4l0.5-1.2C3,4.3,2.9,4,2.7,3.9c-0.2-0.1-0.4,0-0.5,0.2L1.6,5.6C1.2,5.5,0.9,5.1,1,4.6l0.7-2.9c0.1-0.5,0.6-1,1.2-1h2.6
	L5.5,5.6L5.5,5.6z M11.5,5.6H6.3V0.8h5.1V5.6z M17.4,5.6h-5.1V0.8h5.1V5.6z M23.2,4.6c0,0.5-0.4,1-1,1h-4V0.8h4c0.5,0,1,0.4,1,1V4.6
	z"/></g>
      <g id="van"><path transform="translate(0, 5)" d="M6.7,9.1c-1.2,0-2.2,1-2.2,2.2s1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2S7.9,9.1,6.7,9.1z M6.7,12.5
	c-0.6,0-1.2-0.5-1.2-1.2c0-0.6,0.5-1.2,1.2-1.2s1.2,0.5,1.2,1.2C7.8,12,7.3,12.5,6.7,12.5z M19.1,9.1c-1.2,0-2.2,1-2.2,2.2
	c0,1.2,1,2.2,2.2,2.2c1.2,0,2.2-1,2.2-2.2C21.3,10.1,20.3,9.1,19.1,9.1z M19.1,12.5c-0.6,0-1.2-0.5-1.2-1.2c0-0.6,0.5-1.2,1.2-1.2
	c0.6,0,1.2,0.5,1.2,1.2C20.3,12,19.7,12.5,19.1,12.5z M23.8,6.4V1.6c0-0.5-0.1-1-0.5-1.4C23,0,22.6,0,22.2,0C14.6,0,9.7,0,7.9,0
	c-1.5,0-3.2,1.2-5,3.5C2.1,4.4,1.5,5.3,1.1,6c-2,2.8-1,5.3,1.3,5.3c0.2,0,0.6,0,1.6,0C4,9.8,5.2,8.7,6.7,8.7c1.5,0,2.6,1.2,2.7,2.6
	c2.9,0,6.2,0,7,0c0-1.5,1.2-2.6,2.7-2.6c1.5,0,2.7,1.2,2.7,2.6C24.6,11.1,24,7.7,23.8,6.4z M7,6.8H6c-0.1,0-0.2-0.1-0.2-0.2
	c0-0.1,0.1-0.2,0.2-0.2h1c0.1,0,0.2,0.1,0.2,0.2C7.2,6.7,7.1,6.8,7,6.8z M7.8,5.2l-4.9,0c0,0,0,0,0-0.1c1.4-1.9,3.3-4,4.9-4.1
	L7.8,5.2L7.8,5.2z M13.3,5.2l-4.7,0V1c1,0,2.6,0,4.7,0V5.2z M18.8,5.2l-4.7,0V1c1.4,0,2.9,0,4.7,0V5.2z M22.7,5.2l-3.1,0V1
	c0.8,0,1.7,0,2.6,0c0.1,0,0.4,0,0.4,0c0,0,0.1,0.1,0.1,0.6V5.2z"/></g>
      <g id="stretch"><path transform="translate(0, 7)" d="M20.3,6.6c0.9,0,1.6,0.7,1.6,1.6s-0.7,1.6-1.6,1.6c-0.9,0-1.6-0.7-1.6-1.6S19.4,6.6,20.3,6.6z M20.3,8.9
	c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7C19.5,8.6,19.9,8.9,20.3,8.9z M5.6,6.6c0.9,0,1.6,0.7,1.6,1.6
	S6.5,9.9,5.6,9.9S4,9.1,4,8.2S4.7,6.6,5.6,6.6z M5.6,8.9c0.4,0,0.7-0.3,0.7-0.7c0-0.4-0.3-0.7-0.7-0.7c-0.4,0-0.7,0.3-0.7,0.7
	C4.9,8.6,5.2,8.9,5.6,8.9z M2.5,3.7c0.7-0.2,1.3-0.8,1.6-1.3l1-1.4c0.3-0.5,1-1,1.6-1h13.1c0.6,0,1.2,0.5,1.4,1l0.6,1.3
	c0.1,0.2,0.5,1.3,1.3,1.4C23.9,3.9,24,4.6,24,5.2v2.1c0,0.6-0.5,1.1-1.1,1.1h-0.7c0,0,0-0.1,0-0.1c0-1.1-0.9-2-2-2c-1.1,0-2,0.9-2,2
	c0,0,0,0.1,0,0.1H7.6c0,0,0-0.1,0-0.1c0-1.1-0.9-2-2-2c-1.1,0-2,0.9-2,2c0,0,0,0.1,0,0.1H1.1C0.5,8.4,0,7.9,0,7.3V5.6
	C0,3.9,2,3.9,2.5,3.7z M18.4,3.4h3.2c-0.2-0.3-0.3-0.6-0.3-0.7l-0.5-1.5c-0.2-0.5-0.7-0.4-1.2-0.4h-1.1V3.4z M11,3.4h6.3V0.8H11V3.4
	z M9.9,3.4V0.8H7.3c-0.5,0-1.1,0.4-1.4,0.8L5.1,2.8C5,3,4.8,3.2,4.6,3.4L9.9,3.4L9.9,3.4z"/></g>
      <g id="cash"><path class="st0" transform="translate(0, 4)" d="M23.8,9.5c-2.3-1.9-4.6-3.8-6.8-5.7c-1.5-1.2-2.9-2.4-4.4-3.6c-0.2-0.2-0.5-0.2-0.7,0c-0.6,0.8-1.3,1.6-1.9,2.3
	C9.3,2,8.7,1.5,8,1C7.8,0.8,7.5,1,7.3,1.2C6.1,2.8,4.9,4.4,3.7,6C3.1,5.9,2.6,5.8,2,5.7c-0.2,0-0.6,0.1-0.6,0.4
	C0.9,8.6,0.5,11.1,0,13.7c0,0.2,0.1,0.6,0.4,0.6c2.8,0.5,5.7,1,8.5,1.5c0,0,0-0.1,0.1-0.1c0,0-0.1-0.1-0.1-0.1c0-0.3,0-0.5,0-0.8
	c-0.9-0.2-1.8-0.3-2.6-0.5c-1-0.2-2.1-0.4-3.1-0.5c-0.3-1.5-1.2-2.1-1.7-2.4c0.2-0.9,0.3-1.8,0.5-2.6c0.5,0,1.8-0.1,2.7-1.6
	c1.9,0.3,3.9,0.7,5.8,1c1.1,0.2,2.1,0.4,3.2,0.6c0.1,0.5,0.3,1.6,1.6,2.4c-0.1,0.3-0.1,0.6-0.2,0.9c0.3,0,0.7,0,1,0
	c0.2-1.1,0.4-2.1,0.6-3.2c0,0,0,0,0-0.1c0.2,0.1,0.3,0.2,0.5,0.3c-0.1,0.5-0.2,1.5,0.5,2.6c-0.2,0.3-0.4,0.6-0.6,0.8
	c0,0.4,0,0.7,0,1.1c0,0.1,0,0.1-0.1,0.1c0,0,0.1,0.1,0.1,0.1c0,0.1,0,0.2,0,0.3c0,0.3,0,0.6,0,0.8c0.4,0.3,0.8,0.7,1.2,1
	c0.2,0.2,0.5,0.2,0.7,0c1.6-2,3.3-4,4.9-6c0,0,0-0.1,0-0.1C24,9.9,24.1,9.7,23.8,9.5z M10.7,7.2c-0.1-0.3,0.3-0.3,0.5-0.3
	c0.3,0.1,0.5,0.3,0.7,0.5c0.1,0.1,0.2,0.1,0.3,0c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0.1-0.2,0-0.3c-0.2-0.2-0.4-0.3-0.6-0.5
	C11.9,6.3,12,6.1,12,6c0-0.1,0-0.2-0.1-0.2c-0.1,0-0.3-0.1-0.4-0.1c-0.1,0-0.2,0-0.2,0.1c-0.1,0.1-0.1,0.3-0.2,0.4
	c-0.4,0-0.7,0-1.1,0.3C9.9,6.6,9.8,6.8,9.8,7.1C9,7,8.3,6.8,7.6,6.7C6.7,6.5,5.7,6.4,4.8,6.2c0.7-0.9,1.4-1.9,2.1-2.8
	c0.5,0.2,1.4,0.5,2.6,0c1.7,1.3,3.4,2.6,5.1,3.8c0.4,0.3,0.8,0.6,1.2,0.9C14.1,7.9,12.4,7.6,10.7,7.2C10.7,7.3,10.7,7.2,10.7,7.2z
	 M19.8,13.5c-0.5-0.1-1.4,0-2.5,0.6c0,0,0,0-0.1,0c0.9-1.2,1.8-2.3,2.7-3.5c0.2-0.2,0-0.6-0.2-0.7c-1.3-1-2.7-2-4-3
	c0.1-0.3,0.5-0.1,0.7,0.1c0.2,0.1,0.3,0.3,0.4,0.5c0,0.1,0.2,0.1,0.3,0.1c0.1-0.1,0.2-0.1,0.4-0.2c0.1-0.1,0.1-0.2,0.1-0.3
	c-0.1-0.2-0.3-0.4-0.5-0.6c0.1-0.1,0.2-0.2,0.3-0.3c0.1-0.1,0-0.2-0.1-0.3c-0.1-0.1-0.2-0.2-0.3-0.2c-0.1-0.1-0.2,0-0.3,0.1
	c-0.1,0.1-0.2,0.2-0.3,0.3c-0.5-0.2-1.1-0.2-1.4,0.3c-0.8-0.6-1.5-1.2-2.3-1.7C12,4,11.4,3.5,10.8,3.1C10.8,3,10.9,2.9,11,2.8
	c0.5,0.2,1.6,0.6,3.1-0.2c1.6,1.3,3.1,2.6,4.7,3.9c0.9,0.8,1.9,1.5,2.8,2.3c-0.3,0.6-0.5,1.5-0.1,2.7C20.9,12.2,20.3,12.9,19.8,13.5
	z M9.2,14.3c0,0.4,0,0.7,0,1.1c2.5,0,4.9-0.1,7.4-0.1c0-0.4,0-0.7,0-1.1C14.2,14.2,11.7,14.3,9.2,14.3z M9.2,16.1c0,0.4,0,0.7,0,1.1
	c2.5,0,4.9-0.1,7.4-0.1c0-0.4,0-0.7,0-1.1C14.2,16,11.7,16,9.2,16.1z M9.2,12.6c0,0.4,0,0.7,0,1.1c2.5,0,4.9-0.1,7.4-0.1
	c0-0.4,0-0.7,0-1.1C14.2,12.5,11.7,12.5,9.2,12.6z M8,9.7c0.3,0,0.6,0.2,0.8,0.4c0.1,0.1,0.2,0.1,0.3,0c0.1-0.1,0.2-0.2,0.2-0.3
	c0-0.1,0-0.2,0-0.2C9.2,9.3,8.9,9.2,8.7,9.1c0-0.1,0.1-0.3,0.1-0.4c0-0.1,0-0.2-0.1-0.2c-0.1,0-0.3-0.1-0.4-0.1C8.1,8.4,8,8.4,8,8.5
	C8,8.7,7.9,8.8,7.9,9c-0.4,0-0.8,0.1-1,0.5c-0.3,0.4-0.3,0.8,0,1.1c0.1,0.2,0.3,0.4,0.5,0.5c0.2,0.2,0.6,0.3,0.7,0.6
	c0.1,0.3-0.3,0.5-0.5,0.4c-0.3,0-0.7-0.2-0.9-0.4c-0.1-0.1-0.2-0.1-0.3,0c-0.1,0.1-0.2,0.2-0.2,0.3c0,0.1,0,0.2,0,0.2
	c0.2,0.2,0.5,0.4,0.8,0.5c0,0.1-0.1,0.3-0.1,0.4c0,0,0,0,0,0.1c0,0,0,0,0,0c0,0,0,0,0,0c0,0.1,0,0.1,0.1,0.1c0.1,0,0.3,0.1,0.4,0.1
	c0.1,0,0.2,0,0.2-0.1c0-0.2,0.1-0.3,0.1-0.5c0.4,0,0.8-0.1,1.1-0.5c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1c0.1-0.3,0.1-0.7,0-1
	c-0.3-0.5-0.9-0.7-1.3-1.1C7.5,9.9,7.8,9.7,8,9.7z"/></g>
      <g id="card"><path class="st0" transform="translate(0, 5)" d="M22.1,2c0-1.1-0.9-2-2-2H2C0.9,0,0,0.9,0,2v1.8h22.1V2L22.1,2z M18.9,5.3c-0.9,0-1.8,0.2-2.5,0.7H0v6.2
	c0,1.1,0.9,2,2,2h13.6c0.9,0.8,2,1.2,3.3,1.2c2.8,0,5.1-2.3,5.1-5.1C24,7.6,21.7,5.3,18.9,5.3z M7.6,11.5c0,0.1-0.1,0.3-0.3,0.3H3.2
	c-0.1,0-0.3-0.1-0.3-0.3v-0.8c0-0.1,0.1-0.3,0.3-0.3h4.1c0.1,0,0.3,0.1,0.3,0.3V11.5z M18.9,13.6c-1.8,0-3.2-1.4-3.2-3.2
	s1.4-3.2,3.2-3.2c1.8,0,3.2,1.4,3.2,3.2S20.7,13.6,18.9,13.6z M19.3,9.9L19.3,9.9c-0.5-0.2-0.7-0.3-0.7-0.5c0-0.2,0.2-0.3,0.5-0.3
	c0.2,0,0.4,0,0.6,0.1c0.1,0,0.2,0,0.3,0C20,9.2,20,9.1,20,9l0-0.1c0-0.2-0.1-0.3-0.2-0.4c-0.2-0.1-0.4-0.1-0.6-0.1V8.2
	c0-0.2-0.1-0.3-0.3-0.3h0c-0.2,0-0.3,0.1-0.3,0.3v0.2c-0.6,0.1-1,0.6-1,1.1c0,0.5,0.3,0.9,1.1,1.1c0.4,0.1,0.6,0.2,0.6,0.5
	c0,0.2-0.2,0.3-0.5,0.3c-0.2,0-0.5,0-0.7-0.1c-0.1,0-0.2,0-0.3,0c-0.1,0-0.1,0.1-0.2,0.2l0,0.2c0,0.2,0,0.3,0.2,0.4
	c0.2,0.1,0.5,0.1,0.7,0.2v0.2c0,0.2,0.1,0.3,0.3,0.3h0c0.2,0,0.3-0.1,0.3-0.3v-0.3c0.6-0.1,1.1-0.6,1.1-1.1
	C20.3,10.5,20,10.2,19.3,9.9z"/></g>
      <g id="message"><path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/></g>
      <g id="location-on"><path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"/></g>
      <g id="account-circle"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2c-2.5 0-4.71-1.28-6-3.22.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08-1.29 1.94-3.5 3.22-6 3.22z"/></g>
      <g id="person"><path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/></g>
    </defs>
  </svg>
</iron-iconset-svg>