<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
"rydz-app" - Rydz App component.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/neon-animation/web-animations.html">
<link rel="import" href="../bower_components/neon-animation/neon-animated-pages.html">
<link rel="import" href="../bower_components/neon-animation/neon-animatable.html">
<link rel="import" href="../bower_components/neon-animation/neon-animations.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">

<link rel="import" href="redux-store.html">
<link rel="import" href="rydz-icons.html">
<link rel="import" href="rydz-components/rydz-login/redux-login-mixin.html">
<link rel="import" href="rydz-components/rydz-dashboard/redux-dashboard-mixin.html">
<link rel="import" href="rydz-components/rydz-login/rydz-login.html">
<link rel="import" href="rydz-components/rydz-overview/rydz-overview.html">

<dom-module id="rydz-app">
    <template>
        <style>
            :host {
                --app-primary-color: #01579b;
                --app-secondary-color: #242424;
                --app-header-z-index: 101;
                --app-drawer-z-index: 102;
                --primary-color: var(--paper-light-blue-a700);
                --accent-color: var(--paper-red-a200);
                @apply(--paper-font-common-base);
                display: block;
            }
        </style>

        <app-location route="{{route}}" use-hash-as-path></app-location>
        <app-route
                route="{{route}}"
                pattern="/:page"
                data="{{routeData}}"
                tail="{{subroute}}"></app-route>
        <template is="dom-if" if="[[!isLoggedIn]]">
            <rydz-login></rydz-login>
        </template>
        <template is="dom-if" if="[[isLoggedIn]]">
            <rydz-overview></rydz-overview>
        </template>
    </template>
    <script>
        class RydzApp extends ReduxLoginMixin(Polymer.Element) {

            static get is() {
                return 'rydz-app';
            }

            static get properties() {
                return {
                    page: {
                        type: String,
                        reflectToAttribute: true,
                        observer: "_pageChanged"
                    },
                    isLoggedIn: {
                        type: Boolean,
                        reflectToAttribute: true,
                        statePath: 'rootReducer.isLoggedIn',
                        observer: '_loggedIn'
                    }
                }
            }

            constructor() {
                super();
            }

            connectedCallback() {
                super.connectedCallback();
                this.dispatch('getCompanyParamsData');
                if (!this.isLoggedIn) {
                    this.set('route.path', 'login');
                } else {
                    this.set('route.path', 'dashboard/all-rides')
                }
            }

            _loggedIn() {
                if (this.isLoggedIn) {
                    /* Get the BOE account status */
                    setTimeout(function () {
                        getBOEStatus(rabbitMQClient, BOEDEACTIVATE_EXCHANGE_NAME, boe_id);
                    }, 3000);

                    /* Get the company settings data */
                    let companyData = {};
                    companyData['boe_id'] = localStorage.getItem('boe_id');
                    companyData['token'] = localStorage.getItem('token');
                    this.dispatch('getCompanySettingsData', companyData);
                }
            }

            _pageChanged(page) {
                // Load page import on demand. Show 404 page if fails
//                let resolvedPageUrl = this.resolveUrl('rydz-components/rydz-' + page + '/rydz-' +
//                    page + '.html');
//                Polymer.importHref(resolvedPageUrl, null, this._showPage404, true);
            }

            showPage404() {
                this.page = '404-page'
            }
        }

        window.customElements.define(RydzApp.is, RydzApp);
    </script>
</dom-module>