<!--

__________           .___
\______   \___.__. __| _/____________  ______ ______
 |       _<   |  |/ __ |\___   /\__  \ \____ \\____ \
 |    |   \\___  / /_/ | /    /  / __ \|  |_> >  |_> >
 |____|_  // ____\____ |/_____ \(____  /   __/|   __/
        \/ \/         \/      \/     \/|__|   |__|

@description
Shared Styles for all views.

@license
Please contact Wenable Inc.

@author
Wenable Inc., 10685-B Hazelhurst Dr., #10913, Houston, TX 77043, United States of America.

-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">

<dom-module id="shared-styles">
    <template>
        <style>
            .card {
                margin: 24px;
                padding: 16px;
                color: #757575;
                border-radius: 5px;
                background-color: #fff;
                box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
            }

            .circle {
                display: inline-block;
                width: 64px;
                height: 64px;
                text-align: center;
                color: #555;
                border-radius: 50%;
                background: #ddd;
                font-size: 30px;
                line-height: 64px;
            }

            h1 {
                margin: 16px 0;
                color: #212121;
                font-size: 22px;
            }

            .new-modal-button {
                position: absolute;
                right: 25px;
                top: 85px;
                z-index: 100;
            }

            vaadin-grid {
                flex: 1;
                font-family: Roboto, sans-serif;
                height: calc(100% - 25px);
                --divider-color: rgba(0, 0, 0, var(--dark-divider-opacity));

                --vaadin-grid-cell: {
                    padding: 0 16px;
                };

                --vaadin-grid-header-cell: {
                    height: 64px;
                    color: rgba(0, 0, 0, var(--dark-secondary-opacity));
                    font-size: 12px;
                };

                --vaadin-grid-body-cell: {
                    height: 48px;
                    color: rgba(0, 0, 0, var(--dark-primary-opacity));
                    font-size: 13px;
                };

                /*--vaadin-grid-body-row-hover-cell: {*/
                    /*background-color: var(--paper-grey-200);*/
                /*};*/

                --vaadin-grid-body-row-selected-cell: {
                    background-color: var(--paper-grey-100);
                };

                --vaadin-grid-focused-cell: {
                    box-shadow: none;
                    font-weight: bold;
                };
            }

            vaadin-grid .cell a {
                text-decoration: none;
                color: var(--primary-color);
            }

            vaadin-grid .cell {
                overflow: hidden;
                text-overflow: ellipsis;
                padding-right: 2px;
            }
        </style>
    </template>
</dom-module>
